.row
  .col-md-12
    .panel.panel-success
      .panel-heading
        %strong Protocolo
        %strong.pull-right CODHAB#{@candidate.id}#{@candidate.created_at.strftime('%Y')}
      .panel-body
        %h4 
          %strong Informações 
        %hr/
        %h6
     