.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  %h4#myModalLabel.modal-title 
    %b Editar Campo - Inscrições
.modal-body
  = render 'form'
