= simple_form_for [@project, @winner], remote: true do |f|
  .row  
    .col-md-9
      = f.input :winner_type, label: "Posição", as: :select, collection: Concourse::Winner.winner_custom_types(@project.id).map { |k,v| [k.humanize, k]}, include_blank: false
    .col-md-3
      = f.input :participation_id, as: :string, label: "Nº da Pasta"
  %br/
  %br/
  %br/
  .row
    .col-md-2
      = f.submit "Revelar candidato", class: 'btn btn-success btn-lg'