.row
  .col-md-12{style: 'text-align: center;'}
    %h1
      %b= image_tag "http://www.codhab.df.gov.br#{@project.image_header.url}", width: 350
%hr/
.row{style: 'margin-top: 120px'}
  .col-md-9.col-md-offset-3
    .form-base
      = render 'form'
