<!DOCTYPE html>
<html>
<head>
  <title>Indication</title>
  <%= stylesheet_link_tag    "indication/application", media: "all" %>
  <%= javascript_include_tag "indication/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
