- if @allotment.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal').modal('hide')
  $('.index-allotment').html("#{escape_javascript(render 'index')}")
