.card
  .card-header.ch-alt
    %h2
      Remessas
    %small Listagem de remessas
    = link_to 'Nova Remessa', new_allotment_path, remote: true, class: 'btn btn-success pull-right mgl'
    = link_to 'Receber remessa', receive_path, class: 'btn btn-info pull-right mgl'
    = link_to 'Devolver remessa', return_path, class: 'btn btn-danger pull-right mgl'   
  .card-body
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table.datatable
        %thead
          %tr
            %th #
            %th Descrição
            %th Prioridade
            %th Data de Resposta
            %th Quantidade de Documentos
            %th Ações
        %tbody.index-allotment
          = render 'index'
