.card
  .card-header.ch-alt
    %h2
      Remessas
      = link_to 'nova remessa', new_allotment_path, remote: true, class: 'btn btn-success pull-right'
      %small Listagem de remessas
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th #
            %th Descrição
            %th Prioridade
            %th Data de Resposta
            %th Ações
        %tbody.index-allotment
          = render 'index'
