.row
  .col-md-12.box
    .panel.panel-default
      .panel-body
        %h1.title Requerimento de regularização
        %h3 1º Passo, informe seu endereço
        %hr/
        = render 'address_form'