- if @document_type.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal').modal('hide')
  $('.index-document_type').html("#{escape_javascript(render 'index')}")
