.card
  .card-header.ch-alt
    %h2
      Tipos de Documento
      = link_to 'novo tipo de documento', new_document_type_path, remote: true, class: 'btn btn-success pull-right'
      %small Listagem de tipos de documentos
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Nome
          %th Código
          %th Status
          %th Ações
      %tbody.index-document_type
        = render 'index'
