= render 'layouts/concourse/partials/nav_project'
.card
  .card-header
    .row
      .col-md-12
        %h2
          Formulário de inscrição
          %small
            Campos obrigatórios padrão
          = link_to "adicionar campo", "#", class: 'pull-right'
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th
          Campo
        %th
          Tipo
        %th
          Validação
    %tbody
      %tr
        %td Nome
        %td texto
        %td obrigatório
      %tr
        %td CPF
        %td texto
        %td obrigatório, único
      %tr
        %td Telefone
        %td númerico
        %td obrigatório
      %tr
        %td Celular
        %td númerico
        %td - 
      %tr
        %td E-mail
        %td texto
        %td obrigatório
      %tr
        %td Senha
        %td texto/criptografado
        %td obrigatório
  .card-header
    .row
      .col-md-12
        %h2
          %small
            campos customizados
        
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th
          Campo
        %th
          Tipo
        %th
          Validação
    %tbody


.card
  .card-header
    .row
      .col-md-12
        %h2
          Formulário de envio de projeto
          %small
            Campos customizados
          = link_to "adicionar campo", "#", class: 'pull-right'
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th
          Campo
        %th
          Tipo
        %th
          Validação
    %tbody
