.card
  .card-header.ch-alt
    %h2
      Usuários
      = link_to 'novo usuário', new_staff_path, class: 'btn btn-success pull-right' if policy(:staff, namespace: Person).create?
      %small Listagem de Usuários
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered.datatable
      %thead
        %tr
          %th #
          %th Nome
          %th Matrícula
          %th Setor Atual
          %th Ramal
          %th Ações
      %tbody.index-user
        - cache ('lista_usuarios') do
          = render 'index'
