- if @attendant.errors.any?
  $('#modal .modal-content .modal-body').html("#{escape_javascript(render 'form')}")
- else
  $('.index-attendant').html("#{escape_javascript(render 'index')}")
  $('#modal').modal('hide')
  
