.card
  .card-header.ch-alt
    %h2
      Ações do Sistema
      %small Listagem de ações dos sistemas
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Ação
          %th Código
          %th Ações
      %tbody.index-system_permission
        = render 'index_permission'
