.card
  .card-header.ch-alt
    %h2
      Ações do Sistema
      = link_to 'nova ação do sistema', new_system_permission_path, remote: true, class: 'btn btn-success pull-right'
      %small Listagem de ações dos sistemas
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Ação
          %th Código
          %th Sistema
          %th Ações
      %tbody.index-system_permission
        = render 'index'
