/ conteudo da pagina
.container
  .row
    .col-md-12.box
      .box_internal
        .post
          .content_post
            %h1 Todas as Notícias
            %hr
            %table.table.table-hover
              %thead
                %tr
                  %th
                    Título
                  %th
                    Publicado em:
              %tbody
                - post_each(1000000, 'DESC') do |p|
                  %tr
                    %td
                      %b= link_to p.title, post_path(p)
                    %td
                      = p.date.strftime('%d/%m/%Y')
