<!DOCTYPE html>
<html>
<head>
  <title>InfoCenter</title>
  <%= stylesheet_link_tag    "info_center/application", media: "all" %>
  <%= javascript_include_tag "info_center/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
