<!DOCTYPE html>
<html>
<head>
  <title>Queued</title>
  <%= stylesheet_link_tag    "queued/application", media: "all" %>
  <%= javascript_include_tag "queued/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
