= simple_form_for [:allotment, @exemption_file], remote: true, multipart: true do |f|
  .row
    .col-md-4
      = f.input :file_path, as: 'file', label: false, input_html: { placeholder: 'Arquivo excel'}
  %hr/
  .row
    .col-md-12
      = f.button :submit, "Importar arquivo", class: 'btn btn-success btn-sm', data: { disable_with: t(:disabled_button) }
