- if @exemption_file.valid?
  $('#modal').modal('hide')
  -if @allotment.send_type == "pedido de isenção"
    $('.index-exemption').html("#{escape_javascript(render 'sefaz/exemptions/index')}")
  -else
    $('.index-exemption').html("#{escape_javascript(render 'sefaz/exemptions/index_cancelation')}")
- else
  $('#modal .modal-content .modal-body').html("#{escape_javascript(render 'form')}")
