.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title Anexo
.modal-body
  
  = image_tag @monitor_service_order.attachment_url, class: 'image_zoomer', width: '550' if @monitor_service_order.attachment?
  %br/
  %br/
  = link_to " TAMANHO ORIGINAL", @monitor_service_order.attachment_url, target: "_blank", class: 'md-search btn-info btn-xs pull-right'
  .row

  