%h1 Listing monitor_service_orders

%table
  %thead
    %tr
      %th Appointment
      %th Attachment
      %th user
      %th Status
      %th Order service
      %th
      %th
      %th

  %tbody
    - @monitor_service_orders.each do |monitor_service_order|
      %tr
        %td= monitor_service_order.appointment
        %td= image_tag(monitor_service_order.attachment, width: '50', height: '50')
        %td= monitor_service_order.user
        %td= monitor_service_order.status
        /%td= link_to 'Show', monitor_service_order
        /%td= link_to 'Edit', edit_monitor_service_order_path(monitor_service_order)
        /%td= link_to 'Destroy', monitor_service_order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
