.body
  .slidetop
    %img{:alt => "slider", :src => "/images/sliderhabita5.png", :class =>"widthimg"}/
  .col-md-12.container
    .col-md-12.title1
      %img{:alt => "imagembloco2", :src => "/images/title1.png", :class =>"widthimg"}/
    .margint50
      .col-md-3.icon_home_habita
        %img{:alt => "icon1", :src => "/images/Habira-oquee.png"}/
        %h3
          O que é?
      .col-md-3.icon_home_habita
        %img{:alt => "icon1", :src => "/images/Habita-Como-funciona.png"}/
        %h3
          Como Funciona
      .col-md-3.icon_home_habita
        %img{:alt => "icon1", :src => "/images/Habita-5eixos01.png"}/
        %h3
          5 Eixos
      .col-md-3.icon_home_habita
        %img{:alt => "icon1", :src => "/images/Habita-Conheçaoprograma.png"}/
        %h3
          Conheça o Programa
  .margint50
    %img{:alt => "imagembloco2", :src => "/images/blocoimagem2.png", :class =>"widthimg"}/
    .col-md-12
      .h3.title_habita1
        Como funciona
    .margint50
      .col-md-4.icon_funciona
        %img{:alt => "icon1", :src => "/images/iconfunciona1.png"}/
        %h3
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt risus dui, eu venenatis metus porttitor nec. Suspendisse porta mi erat, eu consequat risus consectetur sed.
      .col-md-4.icon_funciona
        %img{:alt => "icon1", :src => "/images/iconfunciona3.png"}/
        %h3
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt risus dui, eu venenatis metus porttitor nec. Suspendisse porta mi erat, eu consequat risus consectetur sed.

      .col-md-4.icon_funciona
        %img{:alt => "icon1", :src => "/images/iconfunciona1.png"}/
        %h3
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt risus dui, eu venenatis metus porttitor nec. Suspendisse porta mi erat, eu consequat risus consectetur sed.
  .margint50
    %img{:alt => "imagembloco2", :src => "/images/blocoimagem3.png", :class =>"widthimg"}/
  .container
    .col-md-12
      .h3.title_habita1
        Conheça o Programa
    .col-md-12.conhecafooter
      .text_conheca
        %h3
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, ex a gravida porttitor, libero turpis consequat purus, at elementum felis massa blandit purus. Fusce molestie eleifend faucibus. Nunc blandit tellus ac massa dignissim, in aliquam turpis finibus. Aenean turpis eros, tempus vel luctus a, lacinia quis turpis. Ut dignissim, ligula a tincidunt consectetur, turpis tortor bibendum quam, id ultricies dui tellus eget nibh. Ut tortor nisl, consequat ut dapibus eu, rhoncus at nibh. Etiam vulputate pellentesque dapibus. Donec sodales enim eget lacus suscipit condimentum. Nullam imperdiet nulla at pulvinar venenatis. Vivamus et molestie tellus. Proin maximus gravida dictum. Proin in sem mi. Ut consectetur purus eget consectetur congue. Praesent vitae elit velit. Sed ut risus neque.
