.body
  .slidetop
    %img{:alt => "slider", :src => "/images/sliderhabita5.png", :class =>"widthimg"}/
  .col-md-12.container
    .col-md-12.title1
      %img{:alt => "imagembloco2", :src => "/images/title1.png", :class =>"logo_habita"}/
    .margint50
      .col-md-3.icon_home_habita
        %img{:alt => "icon1", :src => "/images/Habita-oquee.png"}/
        %h3
          Conheça o Programa
        .texto-icon
          O novo programa habitacional para o Distrito Federal, que traz novas soluções para quem precisa de moradia.
      .col-md-3.icon_home_habita
        %img{:alt => "icon1", :src => "/images/Habita-Como-funciona.png"}/
        %h3
          Como Funciona
          %br
        .texto-icon
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius varius sapien, vitae ornare velit.
      .col-md-3.icon_home_habita
        %img{:alt => "icon1", :src => "/images/Habita-5eixos01.png"}/
        %h3
          5 Eixos
        .texto-icon
          Trazem diversidade na oferta de habitação de interesse social, sempre considerando o planejamento das cidades.
      .col-md-3.icon_home_habita
        %img{:alt => "icon1", :src => "/images/Habita-Conheçaoprograma.png"}/
        %h3
          Perguntas Frequentes
        .texto-icon
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius varius sapien, vitae ornare velit.
  .margint50
    %img{:alt => "imagembloco2", :src => "/images/blocoimagem2.png", :class =>"widthimg"}/
    .col-md-12
      .h3.title_habita1
        Como funciona
    .margint50
      .col-md-4.icon_funciona
        %img{:alt => "icon1", :src => "/images/iconfunciona1.png"}/
        %h3
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt risus dui, eu venenatis metus porttitor nec. Suspendisse porta mi erat, eu consequat risus consectetur sed.
      .col-md-4.icon_funciona
        %img{:alt => "icon1", :src => "/images/iconfunciona3.png"}/
        %h3
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt risus dui, eu venenatis metus porttitor nec. Suspendisse porta mi erat, eu consequat risus consectetur sed.

      .col-md-4.icon_funciona
        %img{:alt => "icon1", :src => "/images/iconfunciona1.png"}/
        %h3
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt risus dui, eu venenatis metus porttitor nec. Suspendisse porta mi erat, eu consequat risus consectetur sed.
  .margint50
    %img{:alt => "imagembloco2", :src => "/images/blocoimagem3.png", :class =>"widthimg"}/
  .container
    .col-md-12
      .h3.title_habita1
        Conheça o Programa
    .col-md-12.conhecafooter
      .text_conheca
        %h3
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, ex a gravida porttitor, libero turpis consequat purus, at elementum felis massa blandit purus. Fusce molestie eleifend faucibus. Nunc blandit tellus ac massa dignissim, in aliquam turpis finibus.
