%footer.site-footer
  .site-footer-legal
    © 2015
    %a{:href => "http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202"} Remark
  .site-footer-right
    Crafted with
    %i.red-600.wb.wb-heart
    by
    %a{:href => "http://themeforest.net/user/amazingSurge"} amazingSurge