.card
  .card-header.ch-alt
    %h2
      Páginas
      = link_to 'Nova Página', candidate.new_convocation_path, class: 'btn btn-success pull-right' if policy(:page, namespace: Cms).create?
      %small Listagem de páginas
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table.datatable
      %thead
        %tr
          %th #
          %th Título
          %th Publicado
          %th Categoria
          %th Ações

      %tbody
        - @convocations.each_with_index do |convocation, index|
          %tr
