.row
  .col-md-12.box
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h1
              %b Regularização
              %br/
              %small Agendamento de atendimento
        %hr/
        .row
          .col-md-12
            = render 'form'