.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        Remessas
        = link_to ' Devolver remessa', return_path, class: 'pull-right mgl',data: {disable_with: "carregando..."} if policy(:Conduct, namespace: Protocol).return?
        = link_to ' Receber remessa |', receive_path, class: 'pull-right mgl',data: {disable_with: "carregando..."} if policy(:Conduct, namespace: Protocol).receive?
        = link_to ' Nova Remessa |', new_allotment_path, remote: true, class: 'pull-right mgl',data: {disable_with: "carregando..."} if policy(:Allotment, namespace: Protocol).create?
    %br
  .panel-body
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Descrição
            %th Prioridade
            %th Data de Resposta
            %th Quantidade de Documentos
            %th Ações
        %tbody.index-allotment
          = render 'index'
