= simple_form_for [@cadastre,@inspection] do |f|
  .card-body.card-padding
    .row
      .col-md-12
        = f.input :size, label: "Tamanho da entidade", input_html: { placeholder: 'Digite o nome'}
