= simple_form_for survey_inspection_path(@cadastre) do |f|
  .card-body.card-padding
    .row
      .col-md-12
        = f.input :size, label: "Taamanho da entidade", input_html: { placeholder: 'Digite o nome'}
