.panel.panel-default
  .panel-heading
    %h4.panel-title
      Novo menu
      = link_to "Voltar para listagem", navs_path, class: 'pull-right'
  .panel-body
    .row
      .col-md-12
        = render 'form'