.panel.panel-default
  .panel-heading
    %h4.panel-title
      Nova postagem
      %span.pull-right
        = link_to "voltar a listagem", posts_path
        |
        = link_to "pesquisar arquivos", archive.files_path, remote: true
  .panel-body
    .row
      .col-md-12
        = render 'form'