<!DOCTYPE html>
<html>
<head>
  <title>Firm</title>
  <%= stylesheet_link_tag    "firm/application", media: "all" %>
  <%= javascript_include_tag "firm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
