.panel.panel-default
  .panel-heading
    %h3.panel-title
      Atendimento - Parecer do analista
  .panel-body
    .row
      .col-md-12
        .row
          .col-md-12
            = render 'layouts/habitation/attendance_tabs'
        .row
          .col-md-12