!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:runat => "server"}
    %title Folha de Rosto
    :css
      .EstiloForm
      {
          font-size:13px;
      }
      .relLabel
      {
          width: 30%;
          text-align: right;
      }
      .relInfo
      {
          width:70%;
          text-align:left;
      }
      .relTitulo
      {
          width: 100%;
          border: 0px;
          padding: 0px, 0px, 0px, 0px;
      }
      .relLinha1
      {
          width: 100%;
          border: 0px;
          padding: 0px, 0px, 0px, 0px;
          background-color: #FAF0E6;
          text-align: center;
          font-size:11px;
      }
      .relLinha0
      {
          width: 100%;
          border: 0px;
          padding: 0px, 0px, 0px, 0px;
          text-align: center;
          font-size:11px;
      }
      .relTituloBranco
      {
          width: 30%;
          border: 0px;
          text-align: right;
      }
      .relColunaTitulo
      {
          width:15%;
          border: 1px solid black;
          text-align: left;
          background-color: #fcee94;
      }
  %body
    %div{:style => " width:805px; margin: 0 auto;"}
      %form#form1{:runat => "server"}
        %div
          %div{:style => " width: 800px"}
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "800px"}
              %tr
                %td{:style => "width: 1%;"}
                  %a{:href => "/Entidade/Form/FormCheckList.aspx"}
                    %img{:src => "/images/codhab.png", :style => "margin-left:5px", :width => "150px"}/
                %td{:style => "font-weight: bold; font-size: 13px;"}
                  %div{:style => "text-align: center;"}
                    GOVERNO DO DISTRITO FEDERAL
                    %br/
                    Secretaria de Estado de Habitação
                    Regularização e Desenvolvimento Urbano
                    %br/
                    Companhia de Desenvolvimento Habitacional do Distrito Federal
                    %br/
                    %br/
                    Diretoria Imobiliária
                %td.style3
                   
                  %img{:alt => "", :src => "../../common/imagem_sis/Logo_GDF_2011.png", :style => "width: 87px"}/
          %br/
          %table{:border => "0", :cellpadding => "2", :cellspacing => "2", :width => "800px"}
            %tr
              %td
                %center FORMALIZAÇÃO DO PROCESSO DE HABILITAÇÃO
        #divMsgErro{:runat => "server", :style => "width: 800px; margin-top:25px; border:0px solid black;", :visible => "false"}
          %table.EstiloForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border: 0pxC", :width => "800px;"}
            %tr
              %td
                %center{:style => "color: red"} CANDIDATO NÃO CONVOCADO
        #divVisualizacao{:runat => "server", :style => "width: 800px; margin-top:25px; border:0px solid black;"}
          %table.EstiloForm{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border: 1px solid #CCCCCC", :width => "800px;"}
            %tr
              %td{:colspan => "2"}
                Nome
                %br/
                %b
                  %label#lblNomeCand{:runat => "server", :text => ""}
                    = @attendance.cadastre_mirror.name
              %td
                Inscrição n.
                %br/
                %b
                  %label#lblSeqCad{:runat => "server", :text => ""}
            %tr
              %td{:colspan => "2", :style => "border-bottom: 0px;"}
                Endereço
              %td
                Classificação
            %tr
              %td{:colspan => "2", :style => "border-top: 0px;"}
                %b
                  %label#lblEndereResid{:runat => "server", :text => ""}
              %td
                Processo:
                %br/
                %b
                  %label#lblProtocolo{:runat => "server", :text => ""}
            %tr
              %td
                Descrição de
                %b
                  %label#lblDtConv{:runat => "server", :text => ""}
                %br/
                %label#lblDescConv{:runat => "server", :text => ""}
              %td
                Estado Civil
                %br/
                %b
                  %label#lblEstCivil{:runat => "server", :text => ""}
                    = @attendance.cadastre_mirror.civil_state.name if @attendance.cadastre_mirror.civil_state.present?
              %td
                Tipo de Convocação
                %br/
                %b
                  %label#lblTipoConvocacao{:runat => "server", :text => ""}
            %tr
              %td
                Condição especial
                %br/
                %b
                  %label#lblCondEspecial{:runat => "server", :text => ""}
              %td
                CPF
                %b
                  %label#lblCpfCad{:runat => "server", :text => ""}
              %td
                Data de chegada ao DF
                %br/
                %b
                  %label#lblDtChegadaDF{:runat => "server", :text => ""}
            %tr
              %td{:colspan => "3"}
                Cônjuge/companheiro (nome e CPF)
                %br/
                %b
                  %label#lblCompanheiro{:runat => "server", :text => ""}
            %tr
              %td{:colspan => "3"}
                #divAquisicao{:runat => "server", :style => "width: 100%; text-align:justify"}
                  %p
                    %b Senhor Diretor,
                  %p
                    Para fins de formalização do processo de habilitação visado à aquisição de unidade habitacional
                    de interesse social, nos termos da Lei n. 3.877, de 26/06/2006, venho apresentar a documentação
                    comprobatória dos dados declarados por ocasião do cadastramento ou recadastramento.
                  %p
                    DECLARO, que não sou nem fui proprietário, promitente comprador, cessionário de direito aquisitivo
                    de lote ou imóvel residencial no Distrio Federal, bem como não sou usufrutuário de imóvel residencial
                    no Distrito Federal, nem mesmo detentor de financiamento habitacional, nas condições estabelecidas
                    pelo Sistema Financeiro da Habitação (SFH) ou no Sistema Financeiro Imobiliário (SFI), no âmbito do
                    território nacional, responsabilizando-me civil, penal e administrativamente pela veracidade da
                    presente declaração, sob as penas da lei.
                  %p
                    Estou CIENTE de que:
                    %br>/
                    \- É vedada a comercialização, cessão, permuta, aluguel e/ou qualquer
                    outra transação imobiliária enquanto não houver transferência de domínio pelo Poder Público para o
                    beneficiário, salvo se autorizado pelo poder executivo;
                    %br>/
                    \- A CODHAB/DF não se responsabiliza
                    pela questões financeiras relativas à análise de crédito junto ao agente financeiro.
                  %p{:align => "right"}
                    %b Brasília-DF, ____/____/_________ 
                  %br/
                  %p{:align => "center"}
                    _____________________________________
                         
                         
                    _____________________________________
                  %p
                    %b
                           
                           
                           
                           
                           
                           
                           
                           
                           
                           
                      Assinatura do candidato
                           
                           
                           
                           
                           
                           
                           
                         
                      Assinatura do Cônjuge/Companheiro
                    %br/
                    %br/
                  %p{:align => "center"}
                    %br/
                    %b
                      Digitado por:
                      %label#lblNomeAnalista1{:runat => "server"}
                    %br/
                #divRegularizacao{:runat => "server", :style => "width: 100%; text-align:justify"}
                  %p
                    %b> Senhor Diretor
                    ,
                  %p
                    Declaro(amos) que não sou(somos) e não fui(fomos) proprietário(s) promitente(s)
                    comprador(es), cessionário(s) de direito aquisitivo de lote ou qualquer imóvel residencial
                    no Distrito Federal, bem como não sou(somos) atualmente, titular(es) de usufrutuário(s)
                    de imóvel residencial nesta capital, nem mesmo detentor de qualquer financiamento
                    habitacional, nas condições estabelecidas para o Sistema Financeiro da Habitação,
                    no âmbito do território nacional, responsabilizando(nos) civil, criminal e administrativamente
                    pela veracidade da presente declaração e, nesta conformidade, afirmo(amos) sob as
                    penas das leis, que tenho(amos) conhecimento das condições legais existentes para
                    as falsas declarações prestadas.
                  %p{:align => "right"}
                    %b Brasília-DF, ____/____/_________ 
                  %br/
                  %p{:align => "center"}
                    _____________________________________
                         
                         
                    _____________________________________
                  %p
                    %b
                           
                           
                           
                           
                           
                           
                           
                           
                           
                           
                      Assinatura do candidato
                           
                           
                           
                           
                           
                           
                           
                         
                      Assiantura do Cônjuge/Companheiro
                    %br/
                    %br/
                  %p{:align => "center"}
                    %br/
                    %b
                      Digitado por:
                      %label#lblNomeAnalista2{:runat => "server"}
                    %br/