.panel.panel-default
  .panel-heading
    %h4.panel-title 
      Empreendimentos
      = link_to 'Novo lote', new_allotment_path, class: 'pull-right'
  .panel-body
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %th #
          %th Empreendimento
          %th Demanda
          %th RII
          %th RIE
          %th ID.
          %th VUL.
          %th DEF.
          %th Situação
          %th Data
          %th Ações
      %tbody
  