.panel.panel-default
  .panel-heading
    %h4.panel-title
      Novo lote de indicação - #{@step.name} - #{@step.enterprise.name}
      = link_to "Voltar para listagem", enterprise_step_allotments_path(enterprise_id: @step.enterprise_id, step_id: @step), class: 'pull-right'
  .panel-body
    .row
      .col-md-12