.row
  .col-md-4.col-md-offset-2
    .panel.panel-default
      .panel-heading
        Realizar acesso
      .panel-body
        = render 'form'
  .col-md-4
    .panel.panel-default
      .panel-heading
        Novo cadastro
      .panel-body
        .row
          %h1{'style':'text-align: center'}
            %b Não tem um cadastro?
        .row
          %h4{'style':'text-align: center'}
            = link_to "Clique Aqui", new_portal_candidate_path, remote: true 
