.row
  .col-md-12.box
    .panel.panel-default
      .panel-heading
        .row
          .col-md-12
            %h1 
              %b.font-orange Recadastramento de Entidades
              %br/
              %small
                1ยบ Passo, informe os dados gerais de sua entidade
      .panel-body
        %br/
        .row
          .col-md-12
            = render 'form'