.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h1 
              %b Recadastramento de Entidades
              %br/
              %small
                1ยบ Passo, informe os dados gerais de sua entidade
        %hr/
        .row
          .col-md-12
            = render 'form'