.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h1 
              %b Recadastramento de Entidades
              %br/
              %small
                Parabéns, você cadastrou sua entidade! Agora siga para o próximo passo.
        %hr/
        .row
          .col-md-6.col-md-offset-3
            %h2
              %b 2º Passo
              %br/
              %small
                Acesse o perfil da sua entidade e para completar o cadastro.
        %br/
        %br/
        %br/
        .row
          .col-md-6.col-md-offset-3
            %h2
              %b= link_to "Acessar o Perfil da Minha Entidade", new_authorization_path
        %br/
        %br/
        %br/