<!DOCTYPE html>
<html>
<head>
  <title>Concourse</title>
  <%= stylesheet_link_tag    "concourse/application", media: "all" %>
  <%= javascript_include_tag "concourse/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
