.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title Atualizar Situação
.modal-body
  .row
    .col-md-6
      %label
        Endereço Completo
      %br
      = @enterprise_unit.complete_address
    .col-md-6
      %label
        CEP
      %br
      = @enterprise_unit.cep_unit
  .row
    .col-md-6
      %label
        Área
      %br
      = @enterprise_unit.area
    .col-md-6
      %label
        IPTU
      %br
      = @enterprise_unit.registration_iptu
