.row
  .col-md-12.box
    .panel.panel-default
      .panel-heading
        .row
          .col-md-12
            %h1 
              %b.font-orange Cadastramento de Entidades
              %br/
              %small
                Esqueci minha senha
      .panel-body
        %br/
        .row
          .col-md-6.col-md-offset-3
            = simple_form_for @cadastre, url: send_password_path, method: :post do |f|
              .row
                .col-md-8
                  = f.input :cnpj, input_html: { class: 'cnpj'}
                .col-md-4{style: 'padding-top: 25px'}
                  = f.submit "Resetar minha senha", class: 'btn btn-success' 