.row
  .col-md-12.box
    .panel.panel-default
      .panel-heading
        .row
          .col-md-12
            %h1 
              %b.font-orange Cadastramento de Entidades
              %br/
              %small
                Esqueci minha senha
      .panel-body
        %br/
        .row
          .col-md-6.col-md-offset-3
            %h1 
              %b Senha enviado com sucesso!
            %br/
            %br/
            %br/
            %br/