:css
  #map {
    width: 100%;
    height: 600px;
  }

%br/
%br/
#map

:javascript 
  var geocoder; 
  var map; 

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-15.8091397,-47.8781489);
    var myOptions = {
      zoom: 10,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map"), myOptions);
    
    $.getJSON("#{geo.entities_path}.json", function(data) {
      for(var i = 0; i < data.length; i++) {
        codeAddress(data[i].cep, data[i])
      }
    });

  }

  function codeAddress(zipCode, data) {
      geocoder.geocode( { 'address': zipCode}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });


          var contentString = "" 
          + "<p><h1><b>"+data.fantasy_name+"</b></h1><p/>"
          + "<p>"+data.name+"</p>"
          + "<hr/>"
          + ""

          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

        } else {
          console.log(zipCode)
        }
      });
    }