.card
  .card-header.ch-alt
    %h2
      Propriedades
      = link_to 'nova propriedade', new_property_path, remote: true, class: 'btn btn-success pull-right'
      %small Listagem de propriedades
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Propriedade
          %th Descrição
          %th Status
          %th Ações
      %tbody.index-property
        = render 'index'
