<!DOCTYPE html>
<html>
<head>
  <title>Address</title>
  <%= stylesheet_link_tag    "address/application", media: "all" %>
  <%= javascript_include_tag "address/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
