.card
  .card-header.ch-alt
    %h2
      Atualizar Agendamento
      %br/
      %br/
      #{@schedule.protocol} - #{@schedule.date.strftime("%d/%m/%Y")} às #{@schedule.hour.strftime("%H:%M")}
  %hr/
  = render 'form'
