.card
  .card-header.ch-alt
    %h2
      Patrimônios
      = link_to 'novo patrimõnio', new_good_path, remote: true,  class: 'btn btn-success pull-right'
      %small Listagem de Patrimônios
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th Status
          %th Patrimõnio
          %th Data de Aquisição
          %th Setor
          %th Material
          %th Propriedade
          %th Ações
      %tbody.index-good
        = render 'index'
