.row
 .col-md-12
  = simple_form_for [:good, @drive], remote: true do |f|
   .row
    .col-md-6
     %b Patrimônio a ser movimentado
    .col-md-12
     %b Localização e Usuário Atual
   .row
    .col-md-12
     = f.submit :submit, class: 'btn btn-success'
   %br/
