.card
  .card-header.ch-alt
    %h2
      Movimentações
      = link_to 'nova movimentação', new_good_drife_path, remote: true, class: 'btn btn-success pull-right'
      %small Listagem de Movimentações
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Ações
      %tbody.index-drive
        = render 'index'
