- if @conduct_result.present?
  %span.c-black Documento Pesquisado
  %br
  %br
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th Número
          %th Tipo de Documento
          %th Setor
          %th Incluir na Remessa
      %tbody
        - @conduct_result.each do |a|
          %tr
            %td
              = a.assessment.document_number
            %td
              = a.assessment.document_type.name
            %td
              = a.sector.name
            %td
              = link_to "", add_path(assessment_id: a.assessment.id, id: @conduct.allotment.id), title: 'Gerar Remessa', 'data-toggle' => 'tooltip',  class: 'glyphicon glyphicon-check  btn btn-info btn-xs',data: {disable_with: "carregando..."}