.page-content
  .panel
    .panel-heading
      .panel-title
        %h3
          Atendimento de habitação
        %small
          Plataforma de atendimento habitacional 
    .panel-body
      .row
        .col-md-3
          = render 'search'
        .col-md-8.paper-row
          = render 'show'
      