.panel.panel-default
  .panel-heading
    %h3.panel-title 
      Atendimento habitacional 
  .panel-body
    .row
      .col-md-3{style: 'margin-top: 10px'}
        = render 'search'
      .col-md-8
        = render 'show'
    