.row
  .col-md-12.bloco_azul{style:'padding-bottom:20px!important'}
    .titulo_contato_g.texto-bold.texto-gigante{style:'margin-top:25px!important'}
      Dúvidas // Opiniões // Saudades da Equipe =)

    .corpo_contato_g.texto-gigante{style:'margin-top:20px!important'}
      Entre em contato conosco
      %br
      .texto-bold
        acoescomunitarias@codhab.df.gov.br
