.row
  .col-md-4.action_footer#action_footer_diferent
    = link_to 'quem faz a diferença', 'http://www.google.com'
  .col-md-4.action_footer#action_footer_contact
    = link_to 'contato', 'http://www.google.com'
  .col-md-4.action_footer#action_footer_gallery
    = link_to 'galeria de fotos', 'http://www.google.com'
