.row
  .col-md-12.bloco_amarelo.texto-gigante
    %span.texto-bold
      SE ESSA RUA FOSSE MINHA
    %br
    %span
      Residencial Vitória - São Sebastião ///
    %br
    %span.texto-bold
      28.05 /// 9h
.row
  .col-md-6.no_padding
    .imagem-pagina-interna
      = image_tag("/acoes/concluidas_4.jpg")
  .col-md-6.bloco_rosa.paddingbottom20
    %p.texto_branco.texto_inscrever
      %br
      O  Residencial Vitória, em São Sebastião,  amanheceu  com música, brincadeiras e muita cor. Isso porque, a Companhia de Desenvolvimento Habitacional do Distrito Federal (CODHAB-DF) promoveu, neste sábado, o projeto Ações Urbanas Comunitárias.
      %br
      %br
      Servidores da Companhia junto a moradores  e voluntários pintaram as fachadas das casas, iniciaram a revitalização  do parquinho para as crianças e fizeram plantio de mudas de árvores e plantas . Além disso, foi feito um mural com uma pintura artística , no qual a comunidade pode deixar escrito as expectativas para o local em que vive.
      %br
      %br
      Moradora há quatro anos de São Sebastião, Ruth Andrade, conta que aprovou a ação  e as mudanças que estão acontecendo no local. "Desde que a CODHAB abriu um posto aqui, sentimos que as coisas estão diferentes. Acho uma ideia nova e muito boa esse trabalho do governo com a comunidade", completou.
      %br
      %br
      O presidente da CODHAB, Gilson Paranhos, reforçou a importância desse projeto e da questão levantada pela moradora. " Além da qualificação urbana, nós trazemos para os moradores a concepção de trabalho em grupo e, consequentemente, do espírito de viver em comunidade", explicou.
      %br
      %strong
        Coordenação: arquiteta  Sandra Marinho, arquiteto Luiz Sarmento
      = link_to 'Galeria Urbana', 'http://www.codhab.df.gov.br/acoesurbanas/galeria', class:"action_button action_button_galeria"

= render 'partials/contato'
= render 'partials/home_admin'
