.action_title_home.col-md-12
  %p
    seja um parceiro e
    %br
    colabore para transformar as áreas de interesse
    %br
    social do Distrito Federal
.action_areabuttons_home.col-md-12
  .col-md-6.action_cadastre
    = link_to 'cadastre-se', 'http://www.google.com', class:"action_button"
    %span
      e receba convites e informações
      %br
      sobre nossas ações!
  .col-md-6.action_participo
