.row
  .col-md-12.bloco_azul.texto-gigante
    %span.texto-bold
      SE ESSA RUA FOSSE MINHA
    %br
    Requalificação da Av. do Trecho 1 ///
    %span.texto-bold
      Sol Nascente
    %br
    %span.texto-bold
      24.4 /// 9h às 17h
.row
  .col-md-6.no_padding
    .imagem-pagina-interna
      = image_tag("http://www.robolaranja.com.br/wp-content/uploads/2014/10/Primeira-imagem-do-filme-de-Angry-Birds-%C3%A9-revelada-2.jpg")
  .col-md-6.bloco_rosa.paddingbottom20
    %p.texto_branco.texto_inscrever
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dui vel ex condimentum molestie. Proin sed pharetra nisl. Nulla vitae dolor et felis consectetur laoreet. Nullam porta augue non risus porttitor eleifend. Praesent et justo gravida arcu finibus malesuada nec sed orci.
    = link_to 'cadastre-se', 'http://www.google.com', class:"action_button"
.row
  .col-md-12.bloco_laranja.texto-gigante
    %span.texto-bold
      SE ESSA RUA FOSSE MINHA
    %br
    Requalificação da Av. do Trecho 1 ///
    %span.texto-bold
      Sol Nascente
    %br
    %span.texto-bold
      24.4 /// 9h às 17h
