.row
  .col-md-12.bloco_amarelo.texto-gigante
    %span.texto-bold
      SE ESSA RUA FOSSE MINHA
    %br
    %span
      Sol Nascente - trecho 1 - quadra 501 ///
    %br
    %span.texto-bold
      30.04 /// 8h30
.row
  .col-md-6.no_padding
    .imagem-pagina-interna
      = image_tag("/acoes/concluidas_2.jpg")
  .col-md-6.bloco_rosa.paddingbottom20
    %p.texto_branco.texto_inscrever
      Uma praça para a quadra da 501 – Trecho 1 do Sol Nascente
      %br
      %br
      Um árido terreno destinado a uma praça foi ocupado por cores, pessoas, plantas e brinquedos.
      %br
      Servidores públicos, moradores e integrantes de movimentos sociais uniram-se para revitalizar uma área na Quadra 501 do Trecho 1 do Setor Habitacional Sol Nascente, em Ceilândia. Cerca de 150 pessoas participaram da ação organizada pela Companhia de Desenvolvimento Habitacional do Distrito Federal (Codhab). O local fica próximo a um ponto de encontro comunitário.
      %br
      Um parquinho, lixeiras, bancos, canteiros arborização com árvores nativas e outras estruturas deixaram o lugar mais agradável. "A própria comunidade se mobilizou para mudar o aspecto da região e demonstrou que quem tem iniciativa consegue alcançar seus objetivos", parabenizou o governador de Brasília, Rodrigo Rollemberg, que acompanhou o mutirão.
      %br
      O trabalho foi feito em uma área de aproximadamente 1 mil metros quadrados. Além da Codhab e da comunidade, apoiaram a ação a Agência de Fiscalização do DF (Agefis), a Companhia Urbanizadora da Nova Capital (Novacap) e o Serviço de Limpeza Urbana (SLU). A Federação das Indústrias do DF (Fibra) e o Coletivo MOB.
      %br
      %strong
        Coordenação: arquiteto Luiz Sarmento, arquiteta Isabela Gardes, Coletivo MOB , Elen Santos, Daniel Melo.
      = link_to 'Galeria Urbana', 'http://www.codhab.df.gov.br/acoesurbanas/galeria', class:"action_button action_button_galeria"

= render 'partials/contato'
= render 'partials/home_admin'
