.row
  .col-md-12.bloco_azul.texto-gigante
    %span.texto-bold
      SE ESSA RUA FOSSE MINHA
    %br
    Requalificação da Av. do Trecho 1 ///
    %span.texto-bold
      Sol Nascente
    %br
    %span.texto-bold
      24.4 /// 9h às 17h
.row
  .col-md-6.no_padding
    .imagem-pagina-interna
      = image_tag("/images/angrybirdsmovie.jpg")
  .col-md-6.bloco_rosa.paddingbottom20
    %p.texto_branco.texto_inscrever
      %strong
        Se essa rua fosse minha
      é um projeto que visa a melhoria da qualidade urbana nas áreas em processo de urbanização na comunidade do Sol Nascente – DF. Idealizado pela equipe de assistência técnica da Companhia Habitacional do Distrito Federal (CODHAB/DF), o objetivo é proporcionar uma nova relação da rua com os moradores, qualificando o ambiente público através de educação sócio-ambiental e melhoria das fachadas.
      Com baixo custo de implantação, o projeto busca soluções simples e criativas para alcançar os melhores resultados. Fortalecer os laços com a comunidade, levar o governo para mais próximo da população e qualificar os moradores por meios de minicursos sobre meio-ambiente e cuidados básicos com os jardins são algumas das propostas.
      O projeto faz com que a comunidade se sinta cada vez mais dona dos espaços públicos, de forma que esses lugares tenham mais cores e se tornem mais humanos.
      %br
      %strong
        Objetivos:
      %br
      \- Qualificar o espaço urbano criando espaços mais agradáveis para a população;
      %br
      \- Incluir vegetação de forma planejada para a criação de ruas sustentáveis e qualificar a população acerca da temática ambiental;
      %br
      \- Envolver a população nas ações do governo, e promover a ideia de que o cuidado com o espaço público é dever de todos;
      %br
      \- Criar espaços urbanos dignos, aumentando a autoestima da população;
      %br
      \- Demonstrar que é possível com baixo orçamento qualificar espaços urbanos.
      = link_to 'Galeria Urbana', 'http://www.codhab.df.gov.br/acao/galeria#item_301', class:"action_button action_button_galeria"
.row
  .col-md-12.bloco_laranja.texto-gigante
    %span.texto-bold
      Contato
