.row
  .col-md-6.bloco.action_cadastro
    %span.texto_cadastro
      identificação
      %br
      %span.texto_cadastrointerno1
        Preencha com suas informações
      %br
      %span.texto_cadastrointerno2
        novo cadastro
      .retangulo
      .retangulo
  .col-md-6.bloco.action_japarticipo
    %span.texto_cadastrointerno3
      já sou cadastrado
      .retangulo
      .retangulo
        .row
  .col-md-12.container
    = render 'partials/footer'
