.col-md-3
  .action_thumbnail_users_home
  .action_user_title
    Se essa rua fosse minha
  .action_user_text
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed enim vel erat scelerisque sollicitudin non sit amet orci. Phasellus non vehicula justo. Proin libero tellus, lobortis eget accumsan nec, scelerisque eu velit.
.col-md-3
  .action_thumbnail_users_home
  .action_user_title
    Se essa rua fosse minha
  .action_user_text
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed enim vel erat scelerisque sollicitudin non sit amet orci. Phasellus non vehicula justo. Proin libero tellus, lobortis eget accumsan nec, scelerisque eu velit.
.col-md-3
  .action_thumbnail_users_home
  .action_user_title
    Se essa rua fosse minha
  .action_user_text
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed enim vel erat scelerisque sollicitudin non sit amet orci. Phasellus non vehicula justo. Proin libero tellus, lobortis eget accumsan nec, scelerisque eu velit.
.col-md-3
  .action_thumbnail_users_home
  .action_user_title
    Se essa rua fosse minha
  .action_user_text
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed enim vel erat scelerisque sollicitudin non sit amet orci. Phasellus non vehicula justo. Proin libero tellus, lobortis eget accumsan nec, scelerisque eu velit.
