.row
  .col-md-12.bloco_azul.texto-gigante
    %span.texto-bold
      SE ESSA RUA FOSSE MINHA
    %br
    Requalificação da Av. do Trecho 1 ///
    %span.texto-bold
      Sol Nascente
    %br
    %span.texto-bold
      24.4 /// 9h às 17h
.row
  .col-md-12.bloco_laranja.texto-gigante
    %span.texto-bold
      SE ESSA RUA FOSSE MINHA
    %br
    Requalificação da Av. do Trecho 1 ///
    %span.texto-bold
      Sol Nascente
    %br
    %span.texto-bold
      24.4 /// 9h às 17h
