.row
  .col-md-12.bloco_amarelo.texto-gigante
    %span.texto-bold
      SE ESSA RUA FOSSE MINHA
    %br
    %span
      Pôr do Sol - Ceilândia ///
    %br
    %span.texto-bold
      21.05 /// 8h30
.row
  .col-md-6.no_padding
    .imagem-pagina-interna
      = image_tag("/acoes/concluidas_3.jpg")
  .col-md-6.bloco_rosa.paddingbottom20
    %p.texto_branco.texto_inscrever
      %br
      O projeto Se Essa Rua Fosse Minha beneficiou os moradores da na quadra 603, Conjuntos E e F, do Pôr do Sol, em Ceilândia (DF). A ação contou com a presença do presidente da Companhia de Desenvolvimento Habitacional do Distrito Federal (CODHAB-DF), Gilson Paranhos, do Secretário de Habitação, Thiago de Andrade, a equipe de assistência técnica e moradores locais.
      %br
      %br
      O projeto, que tem o objetivo de revitalizar as ruas e conscientizar a população quanto as questões ambientais e sociais, faz parte do programa  “Ações Urbanas Comunitárias” que visa qualificar o espaço público e transformar a relação do governo com a comunidade. O trabalho é participativo, ou seja, realizado em parceria com a população, que pode fazer parte da transformação do ambiente em que vive. Um parquinho, lixeiras, bancos, canteiros arborização com árvores nativas e outras estruturas deixaram o lugar mais agradável. "A própria comunidade se mobilizou para mudar o aspecto da região e demonstrou que quem tem iniciativa consegue alcançar seus objetivos", parabenizou o governador de Brasília, Rodrigo Rollemberg, que acompanhou o mutirão.
      %br
      %br
      %strong
        Coordenação: arquiteto Frederico Barboza, arquiteto Luiz Sarmento
      = link_to 'Galeria Urbana', 'http://www.codhab.df.gov.br/acoesurbanas/galeria', class:"action_button action_button_galeria"

= render 'partials/contato'
= render 'partials/home_admin'
