.topSlider_action
  .flex-container
    .flexslider.flexslider_mod
      / .slides
      .flex-viewport
        %ul.slides
          - 4.times do
            %li.clone{"aria-hidden" => "true"}
              .div-image{:style => "background-image: url(http://www.codhab.df.gov.br/uploads/archive/images/89538c20636d27b755a0b081fc2fa72e.jpg)"}
.col-md-2.about_action
  %span.about_action_title
    sobre
.col-md-10.about_action_text
  %p
    Nulla tincidunt, erat at pretium rhoncus, orci est imperdiet diam, vitae condimentum lorem quam id metus. Etiam at blandit ligula. Suspendisse odio velit, viverra sit amet fermentum in, interdum lobortis nisl. Proin bibendum sodales ipsum vehicula viverra. Aliquam semper vel magna nec interdum. Fusce cursus dapibus vehicula. Fusce faucibus varius ligula, sit amet interdum ipsum lobortis in. Cras a neque at metus semper porta aliquet a mi. Nunc ac ex felis. Vivamus id sollicitudin dui, a porta nibh. Nam fermentum luctus neque, nec viverra massa tincidunt in. Mauris vestibulum urna eget posuere aliquet. Pellentesque sed arcu ut lorem gravida tincidunt vitae at mauris. Curabitur venenatis libero non sem dignissim porta. Etiam molestie turpis nec est congue dignissim. Ut fermentum ligula sed ligula malesuada consectetur quis vitae lectus.
