.row
  .topSlider_action
    .flex-container
      .flexslider.flexslider_mod
        / .slides
        .flex-viewport.flex-acao
          %ul.slides
            %li.clone{"aria-hidden" => "true"}
              .div-image.div-image-acao{:style => "background-image: url(/acoes/slider1.png)"}
            %li.clone{"aria-hidden" => "true"}
              .div-image.div-image-acao{:style => "background-image: url(/acoes/slider2.png)"}
