!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Concourse
    = stylesheet_link_tag 'print', media: 'print'
    = csrf_meta_tags
  %body
    = yield
