<!DOCTYPE html>
<html>
<head>
  <title>HabitationTreatment</title>
  <%= stylesheet_link_tag    "habitation_treatment/application", media: "all" %>
  <%= javascript_include_tag "habitation_treatment/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
