- if @verification.errors.any?
  $('#modal .modal-body').html("#{escape_javascript(render 'form')}")
- else
  $(".index-verification").html("#{escape_javascript(render 'index')}")
  $("#modal").modal('hide')