.card
  .card-header.ch-alt
    %h2
      %h2
      Chamados
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th OS
          %th Solicitado por
          %th Setor
          %th Data/Hora
          %th Status
      %tbody.index-order-service
        = render 'index'
