- if @defendant.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal').modal('hide')
  $('.index-legal_advices').html("#{escape_javascript(render 'juridical/legal_advices/index')}")
