.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h1.title Meus Requerimentos de Regularização
            %h3 1º Passo, Preencha com seus dados
        %hr/
        .row
          .col-md-12
            = render 'verification_form'
