.codhab-logo{
  margin-bottom: 25px;
font-size: 25px;
}
#profile-main .pmo-pic .pmo-stat{
  background-color: #3f3f3f;
}
.dataTables_length{
  padding-top: 5px!important;
}
.dataTables_length .form-control{
  -webkit-appearance: normal!important;
-moz-appearance: normal!important;
appearance: normal!important;
}
.pagination > li > a, .pagination > li > span{
  border-radius:0px!important;
}
.pagination > li > a:hovver, .pagination > li > span:hover{
  border-radius:0px!important;
}
.mgl{
	    margin-left: 15px;
}

.alert-success {
    background-color: #4CAF5C !important;
    border-color: #4CAF5C !important;
    color: #FFFFFF !important;
    font-weight: bold;
}