<!DOCTYPE html>
<html>
<head>
  <title>Protocol</title>
  <%= stylesheet_link_tag    "protocol/application", media: "all" %>
  <%= javascript_include_tag "protocol/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
