.container.main
  .content
    %h3 Concursos Codhab

  %hr/
  .row
    - @projects.each do |p|
      .col-md-2
        .panel-default
          .panel-body
            .row
              - if p.logo?
                = link_to image_tag(p.logo.url, height: 250), portal_project_path(p)
              - else
                sem imagem
  %hr/