.container.main
  .content
    %h3
      %b
        Concursos Codhab

  %hr/
  .row
    - @projects.each do |p|
      .col-md-3
        .panel-default
          .panel-heading
            %h5
              = p.name
          .panel-body
            - if p.logo?
              = link_to image_tag(p.logo.url, width: 250), portal_project_path(p)
            - else
              sem imagem
          .panel-footer
            = link_to "detalhes", concourse.portal_project_path(p), class: 'btn btn-info'
            = link_to "inscrição", concourse.portal_project_path(p), class: 'btn btn-success' if p.subscribe
