#modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
= javascript_include_tag 'remark', 'data-turbolinks-eval' => 'false'
