/*
*= require portal/css/bootstrap.min
*= require portal/css/mod
*= require portal/css/style
*/

.main {margin-top: 45px;}
.main .title { font-weight: bold;}
.table>thead>tr>th { font-weight: bold !important;}