.row
  .col-md-12.box
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h1.title Meus Requerimentos de Regularização
        %hr/
        .row
          .col-md-12
            = render 'verification_form'
