.card
  .card-header.ch-alt
    %h2
      Solicitações 
      %small
        Listagem de solicitações de serviço
  .card-body.card-padding
    %div{:role => "tabpanel"}
      %ul.tab-nav{:role => "tablist", :style => "overflow: hidden; outline: none;", :tabindex => "1"}
        %li{:class => (params[:q] == 'open'|| params[:q].nil?) ? 'active' : ''}
          %a{"aria-controls" => "open", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#open", :role => "tab"} Pendentes
        %li{:class => (params[:q] == 'in_progress') ? 'active' : ''}
          %a{"aria-controls" => "in_progress", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#in_progress", :role => "tab"} Em andamento
        %li{:class => (params[:q] == 'closed') ? 'active' : ''}
          %a{"aria-controls" => "closed", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#closed", :role => "tab"} Finalizados
    .tab-content
      = render 'open'
      = render 'in_progress'
      = render 'closed'

:javascript
  setInterval(function(){ location.reload(); }, 60000);