- @assessments.each_with_index do |j, i|
 %tr
  %td.col-md-1
   = check_box_tag "assessment_ids[]", j.id
  %td
   = j.document_number
  %td
   = j.document_type.name
  %td.col-md-2
   = link_to "", edit_location_path(j), remote: true, class: 'md-mode-edit btn btn-primary waves-effect waves-button waves-float'












