- if @document_type.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal').modal('hide')
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")