.panel.panel-default
  .panel-heading
    %h4.panel-title Gestão de ocorrências cadastral
  .panel-body
    .row
      .col-md-3
        %h3 Pesquisar por CPF
        .row
          .col-md-12
            = simple_form_for @cadastre, url: detail_ocurrences_path, method: :get do |f|
              .row
                .col-md-10
                  = f.input :cpf, label: false, input_html: { name: 'cpf', class: 'cpf', value: params[:cpf]}
              .row
                .col-md-10
                  = f.submit "Pesquisar", name: nil, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      .col-md-9
        %h3 Últimas ocorrências
        .row
          .col-md-12
            %table.table.table-bordered.table-striped.table-hover
              %thead
                %tr 
                  %th #  
                  %th CPF  
                  %th Ocorrência  
                  %th Tipo  
                  %th Data  
                  %th Verificada  
              %tbody
                %tr 
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td