<!DOCTYPE html>
<html>
<head>
  <title>Patrimony</title>
  <%= stylesheet_link_tag    "patrimony/application", media: "all" %>
  <%= javascript_include_tag "patrimony/application" %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://static.jstree.com/3.1.1/assets/vakata.js"></script>
	<script src="http://static.jstree.com/3.1.1/assets/dist/jstree.min.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="http://static.jstree.com/3.1.1/assets/dist/themes/default/style.min.css" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

</head>
<body>

<%= yield %>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog">
     <div class="modal-content">
     </div>
  </div>
</div>
</body>
</html>
