<!DOCTYPE html>
<html>
<head>
  <title>Patrimony</title>
  <%= stylesheet_link_tag    "patrimony/application", media: "all" %>
  <%= javascript_include_tag "patrimony/application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
