%footer
  / Bloco01 - footer
  .col-sm-6.col-md-4
    .block_footer_
      .logo_footer
        %img{:alt => "CODHAB", :src => "/images/codhab_footer.png", :width => "264"}/
  / Fim do bloco footer
  .col-sm-6.col-md-4
    .block_footer
      %h3.title_contact_footer Atendimento Presencial
      .contact_box
        %p.contact
          Setor Comercial Sul, Quadra 6.
          %br/
          Edifício SEDHAB  - Bloco A - Lotes 12/13 - Térreo
          %br/
          Brasilia/DF - CEP: 70.306-918
          %br/
          Das 8h às 17h, de segunda à sexta-feira
          %br/
          Para agendar o atendimento, ligue 156.
        %br/
        .contact_box
          %h3.title_contact_footer Atendimento Especializado
          .contact_box
            %p.contact
              Quadra 112, asa sul, na
              estação do metrô, das 8h às
              16h,
              %br/
              de segunda a sexta-
              feira. O agendamento pode
              ser feito
              %br/
              pelo telefone 156.
  .col-sm-6.col-md-4
    .block_footer
      %h3.title_contact_footer Ouvidoria
      .contact_box
        %p.contact
          Para registrar a sua manifestação,
          %br/
          ligue 162 ou acesse o endereço
          %br/
          %a{:href => "http://www.ouvidoria.df.gov.br",:target =>"_blank"}
            www.ouvidoria.df.gov.br
        %br/
        %br/
        .contact_box
          %h3.title_contact_footer Central de Atendimento
          .contact_box
            %p.contact
              %b 156
              opção 5. Das 7h as 19h
