.container.margint50
  .col-md-6{:style => "padding-left:0px"}
    = link_to image_tag("/images/publicidade1.png",:style => "width:100%; "), "http://www.habitabrasilia.df.gov.br"
  .col-md-6{:style => "padding-right:0px"}
    = link_to image_tag("/images/publicidade2.png",:style => "width:100%;"), "http://www.codhab.df.gov.br/acoesurbanas"
