.navbar-superior
  .container
    %ul
      %li
        %a.link_top_esquecido{:href => "http://www.df.gov.br/agencia-brasilia.html", :target => "_blank"} Portal de Brasília
      %li.item-menu-top
        Acesso à Informação
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top A Companhia
            %ul
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/3"} História
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/4"} Missão
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/5"} Visão
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/6"} Valores
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/57"} Quem é quem
          %li.item-submenu-top
            %span.submenu_title_top Organização
            %ul
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/7"} Organograma
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/8"} Diretoria Executiva
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/9"} Assessorias
          %li.item-submenu-top
            %span.submenu_title_top Conselhos
            %ul
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/10"}
                  Conselho
                  %br/
                  Administrativo
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/11"}  Conselho Fiscal
          %li.item-submenu-top
            %span.submenu_title_top Documentos
            %ul
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/12"} Estatuto Social
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/13"} Regimento Interno
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/16"} Legislação
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/14"} Resoluções
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/76"} Despesas
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/pagina/143"} Relatórios da Ouvidoria
      %li.item-menu-top
        Imprensa
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top A Companhia
            %ul
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/noticias"} Notícias
              %li
                %a.link_submenu_top{:href => "http://www.codhab.df.gov.br/galerias"} Galerias
              %li
                %a.link_submenu_top Vídeos
      %li
        %a.link_top_esquecido{:href => "http://www.codhab.df.gov.br/pagina/15"} Dúvidas Frequentes
      %li
        %a.link_top_esquecido{:href => "http://www.codhab.df.gov.br/pagina/74"} TAC
      %li.item-menu-top
        Fale Conosco
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top Telefone
            %ul
              %li.link_submenu_top
                156 - A Central
                %br/
                Telefônica tem
                %br/
                profissionais preparados para ouvir e registrar as suas demandas. Ligação gratuita para telefone
                = succeed "fixo." do
                  %br/
          %li.item-submenu-top
            %span.submenu_title_top Ouvidoria Geral
            %ul
              %li.link_submenu_top
                A comunicação entre o
                cidadão e o governo garante
                a participação popular, a
                transparência e auxilia na
                eficiência da prestação dos
                serviços públicos. Portanto,
                a ouvidoria é um espaço
                aberto ao cidadão para
                reivindicações, denúncias,
                sugestões e também elogios
                referentes aos diversos serviços
                disponíveis à população.
                Para registrar a sua manifestação,
                ligue 162 ou acesse o
                endereço eletrônico:
                www.ouvidoria.df.gov.br
          %li.item-submenu-top
            %span.submenu_title_top Site Ouvidoria Geral
            %ul
              %li
                %a.link_submenu_top{:href => "http://www.ouvidoria.df.gov.br/", :target => "_blank"} Site
              %li.submenu_title_top_fone Telefone
              %li
                %a.link_submenu_top 162
      %li.bug-bugado
        = simple_form_for url_for, url: portal.posts_path, method: :get, html: { class: 'inline-form top_search'} do |f|
          = f.input :title,label: false, input_html: { name: 'by_title'}, placeholder: 'Pesquise aqui...'
