.panel.panel-default
  .panel-heading
    %h4.panel-title
      Atendimento - Atualização cadastral
  .panel-body
    .row
      .col-md-12
        .row
          .col-md-12
            = render 'layouts/habitation/attendance_tabs'
        .row
          .col-md-12
            = render 'form'