.page-content
  .panel
    .panel-heading
      .panel-title
        %h3 1º Passo - Atualização cadastral
        %small
          Formulário de atualização de cadastro
    .panel-body
      .row
        .col-md-12
          = render 'form'