= render 'layouts/regularization_treatment/steps'
.row
  .col-md-12
    .card
      .card-body.card-padding
        .row
          .col-md-12
            %h3
              %b Endereço Selecionado
            %h4
              = @requeriment.unit.city.name if @requeriment.unit.present? && @requeriment.unit.city.present?
              = @requeriment.unit.complete_address if @requeriment.unit.present?
        %br/
        %br/
        %br/
        %br/
        .row
          .col-md-12
            = link_to "Prosseguir", new_requeriment_cadastre_path(@requeriment), class: 'btn btn-primary pull-right'