.card
  .card-header
    %h2
      Atendentes
    %small Listagem de Atendentes
  .card-body.card-padding
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th Usuário
            %th Código
            %th Ações
        %tbody.index-attendant
          = render 'index'