.card
  .card-header
    %h2
      Novo Atendente
      %small formulário de inserção do novo atendente
  .card-body.card-padding.edit
    - if  current_user.account.sector_current.present?
      = render 'form'
    - else
      = flash[:danger] = "Usuário não está alocado em um setor."
      - controller.redirect_to "/"
.card
  .card-header
    %h2
      Atendentes
    %small Listagem de Atendentes
  .card-body.card-padding
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table.table.table-hover.table-bordered.datatable
        %thead
          %tr
            %th Usuário
            %th Gerência
            %th Ações
        %tbody.index-attendant
          = render 'index'

