.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Nova página
          %span.pull-right
            = link_to "pesquisar arquivos", archive.files_path, remote: true
          %br/
    .panel-body
      .row
        .col-md-12
          = render 'form'