= simple_form_for @checklist_treatment do |f|
  .row
    .col-md-12
      - @checklist.each do |a|
        .checkbox.m-b-15
          %label
            = f.check_box :checklist
            %i.input-helper
            = f.label a.name, class: 'fg-label'
  %hr/
  .row
    .col-md-12
      = f.submit "Prosseguir", class: 'btn btn-primary pull-right'