.card
  .card-header.ch-alt
    %h2
      Atualização Cadastral
      %span.pull-right
        = link_to "voltar", cadastres_path(cpf: @cadastre.cpf), class: 'btn btn-inverse', data: { disable_with: "Processando..."}
  = render 'form'
