.panel.panel-default
  .panel-heading
    %h4.panel-title
      Atendimento - Atualização de dependentes
  .panel-body
    .row
      .col-md-12
        .row
          .col-md-12
            = render 'layouts/habitation/attendance_tabs'
    .row
      .col-md-12
        = link_to "Adicionar dependente", new_attendance_cadastre_mirror_dependent_mirror_path(@mirror), remote: true, class: 'btn btn-success btn-sm'
    %br/
    %br/
    .row
      .col-md-12
        %table.table.tabel-hover.table-striped.table-bordered
          %thead
            %tr
              %th Nome
              %th CPF
              %th Sexo
              %th Nascimento
              %th Condição Especial
              %th Co-adquirente
              %th Renda R$
              %th Ação
          %tbody.index-dependent
            = render 'index'

