.panel.panel-default
  .panel-heading
    .panel-title
      %h4 
        Ações do Sistema
        %span.pull-right
          = link_to 'Volta para sistemas', systems_path, class: 'btn btn-dark btn-sm' 
          = link_to 'Nova Ação', new_system_system_permission_path, remote: true, class: 'btn btn-success btn-sm' 
  .panel-body
    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th #
          %th Ação
          %th Código
          %th Ações
      %tbody.index-permission
        = render 'index'
