.col-md-8.col-md-offset-2
  = simple_form_for @authorization, url: authorizations_path,method: :post do |f|
    .row
      .col-md-6
        = f.input :cpf, input_html: {class: 'cpf'}
      .col-md-6
        = f.input :password, input_html: {placeholder: 'Digite sua senha'}
    .row
      .col-md-6
        = f.submit "Realizar acesso", class: 'btn btn-warning'
