.row
  .col-md-12.box
    .panel.panel-default
      .panel-heading
        .row
          .col-md-6.col-md-offset-3
            %h1{style: "text-align: center !important"}
              %b.font-orange Área restrita
              %br/
              %small
                Informe suas credenciais para realizar o acesso
      .panel-body
        %hr/
        .row
          .col-md-12
            %br/
            %br/
            = render 'form'
