.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        Solicitações
  .panel-body
    .row
      .col-md-12.index-ticket
        = render 'index'
:javascript
  setInterval(function(){ location.reload(); }, 60000);
