.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h1 
              %b Editar dados da Entidade
        %hr/
        .row
          .col-md-12
            = render 'form'