.panel.panel-default
  .panel-heading
    %h3.panel-title
      Atendimento - Preenchimento de Checklist
  .panel-body
    .row
      .col-md-12
        %h3 Preenchimento do checklist
    %hr/
    .row
      .col-md-12
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th Item
              %th Checado
          %tbody.checklist-index
            = render 'index'
    %hr/
    .row
      .col-md-12
        = link_to "Voltar para atualização de dependentes", enabled_cadastre_mirror_dependent_mirrors_path(@cadastre_mirror.id), class: 'btn btn-default'
        = link_to "Realizar o parecer do atendimento", enabled_cadastre_mirror_checklists_path(@cadastre_mirror.id), class: 'btn pull-right btn-success'      