.card
  .card-header.ch-alt
    .row
      .col-md-12
        %h2
          Permissões
          %small Listagem de Sistemas
    .row
      .col-md-12
        %br/
        %br/
        %br/
        = render 'index'
