<!DOCTYPE html>
<html>
<head>
  <title>RegularizationSchedule</title>
  <%= stylesheet_link_tag    "regularization_schedule/application", media: "all" %>
  <%= javascript_include_tag "regularization_schedule/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
