.row
  .col-md-12
    %p
      %h1 
        %b Envio de recurso
    %p
      %i Manifesto a minha intenção de recorrer contra a decisão que viabilizou o resultado do Concurso Público Nacional de Estudo Preliminar de Arquitetura para Unidades Habitacionais Coletivas, na Região Administrativa Sobradinho – RA V nos seguintes termos: 
.row
  .col-md-12
    = render 'form'