.row
  .col-md-4
    #todo-lists
      .tl-header
        %h2 Coisas a fazer
        %small Adicione e edite suas tarefas diárias
        %ul.actions.actions-alt
          %li.dropdown
            %a{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => ""}
              %i.md.md-more-vert
            %ul.dropdown-menu.dropdown-menu-right
              %li
                %a{:href => ""} Refresh
      .clearfix
      .tl-body
        #add-tl-item
          %i.add-new-item.md.md-add
          .add-tl-body
            %textarea{:placeholder => "O que vai quer fazer?..."}
            .add-tl-actions
              %a{"data-tl-action" => "dismiss", :href => ""}
                %i.md.md-close
              %a{"data-tl-action" => "save", :href => ""}
                %i.md.md-check
        .checkbox.media
          .pull-right
            %ul.actions.actions-alt
              %li.dropdown
                %a{"data-toggle" => "dropdown", :href => ""}
                  %i.md.md-more-vert
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    %a{:href => ""} Delete
                  %li
                    %a{:href => ""} Archive
          .media-body
            %label
              %input{:type => "checkbox"}/
              %i.input-helper
              %span Duis vitae nibh molestie pharetra augue vitae
        .checkbox.media
          .pull-right
            %ul.actions.actions-alt
              %li.dropdown
                %a{"data-toggle" => "dropdown", :href => ""}
                  %i.md.md-more-vert
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    %a{:href => ""} Delete
                  %li
                    %a{:href => ""} Archive
          .media-body
            %label
              %input{:type => "checkbox"}/
              %i.input-helper
              %span In vel imperdiet leoorbi mollis leo sit amet quam fringilla varius mauris orci turpis
        .checkbox.media
          .pull-right
            %ul.actions.actions-alt
              %li.dropdown
                %a{"data-toggle" => "dropdown", :href => ""}
                  %i.md.md-more-vert
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    %a{:href => ""} Delete
                  %li
                    %a{:href => ""} Archive
          .media-body
            %label
              %input{:type => "checkbox"}/
              %i.input-helper
              %span Suspendisse quis sollicitudin erosvel dictum nunc
        .checkbox.media
          .pull-right
            %ul.actions.actions-alt
              %li.dropdown
                %a{"data-toggle" => "dropdown", :href => ""}
                  %i.md.md-more-vert
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    %a{:href => ""} Delete
                  %li
                    %a{:href => ""} Archive
          .media-body
            %label
              %input{:type => "checkbox"}/
              %i.input-helper
              %span Suspendisse potenti. Cras dolor augue, tincidunt sit amet lorem id, blandit rutrum libero
  .col-md-8
    #calendar-widget.fc.fc-ltr.ui-widget
      .fc-toolbar
        .fc-left
        .fc-right
        .fc-center
          %button.fc-prev-button.ui-button.ui-state-default.ui-corner-left.ui-corner-right{:type => "button"}
            %span.ui-icon.ui-icon-circle-triangle-w
          %h2 Julho 2015
          %button.fc-next-button.ui-button.ui-state-default.ui-corner-left.ui-corner-right{:type => "button"}
            %span.ui-icon.ui-icon-circle-triangle-e
        .fc-clear
      .fc-view-container{:style => ""}
        .fc-view.fc-month-view.fc-basic-view
          %table
            %thead.fc-head
              %tr
                %td.ui-widget-header
                  .fc-row.ui-widget-header
                    %table
                      %thead
                        %tr
                          %th.fc-day-header.ui-widget-header.fc-sun Dom
                          %th.fc-day-header.ui-widget-header.fc-mon Seg
                          %th.fc-day-header.ui-widget-header.fc-tue Ter
                          %th.fc-day-header.ui-widget-header.fc-wed Qua
                          %th.fc-day-header.ui-widget-header.fc-thu Qui
                          %th.fc-day-header.ui-widget-header.fc-fri Sex
                          %th.fc-day-header.ui-widget-header.fc-sat Sab
            %tbody.fc-body
              %tr
                %td.ui-widget-content
                  .fc-day-grid-container
                    .fc-day-grid
                      .fc-row.fc-week.ui-widget-content
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.ui-widget-content.fc-sun.fc-past{"data-date" => "2014-06-01"}
                                %td.fc-day.ui-widget-content.fc-mon.fc-past{"data-date" => "2014-06-02"}
                                %td.fc-day.ui-widget-content.fc-tue.fc-past{"data-date" => "2014-06-03"}
                                %td.fc-day.ui-widget-content.fc-wed.fc-past{"data-date" => "2014-06-04"}
                                %td.fc-day.ui-widget-content.fc-thu.fc-past{"data-date" => "2014-06-05"}
                                %td.fc-day.ui-widget-content.fc-fri.fc-past{"data-date" => "2014-06-06"}
                                %td.fc-day.ui-widget-content.fc-sat.fc-past{"data-date" => "2014-06-07"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-sun.fc-past{"data-date" => "2014-06-01"} 1
                                %td.fc-day-number.fc-mon.fc-past{"data-date" => "2014-06-02"} 2
                                %td.fc-day-number.fc-tue.fc-past{"data-date" => "2014-06-03"} 3
                                %td.fc-day-number.fc-wed.fc-past{"data-date" => "2014-06-04"} 4
                                %td.fc-day-number.fc-thu.fc-past{"data-date" => "2014-06-05"} 5
                                %td.fc-day-number.fc-fri.fc-past{"data-date" => "2014-06-06"} 6
                                %td.fc-day-number.fc-sat.fc-past{"data-date" => "2014-06-07"} 7
                            %tbody
                              %tr
                                %td.fc-event-container
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bgm-cyan.fc-draggable.fc-resizable
                                    .fc-content
                                      %span.fc-title Todo o dia
                                    .fc-resizer.fc-end-resizer
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td.fc-event-container
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-not-end.bgm-orange.fc-draggable
                                    .fc-content
                                      %span.fc-title Evento
                      .fc-row.fc-week.ui-widget-content
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.ui-widget-content.fc-sun.fc-past{"data-date" => "2014-06-08"}
                                %td.fc-day.ui-widget-content.fc-mon.fc-past{"data-date" => "2014-06-09"}
                                %td.fc-day.ui-widget-content.fc-tue.fc-past{"data-date" => "2014-06-10"}
                                %td.fc-day.ui-widget-content.fc-wed.fc-past{"data-date" => "2014-06-11"}
                                %td.fc-day.ui-widget-content.fc-thu.fc-past{"data-date" => "2014-06-12"}
                                %td.fc-day.ui-widget-content.fc-fri.fc-past{"data-date" => "2014-06-13"}
                                %td.fc-day.ui-widget-content.fc-sat.fc-past{"data-date" => "2014-06-14"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-sun.fc-past{"data-date" => "2014-06-08"} 8
                                %td.fc-day-number.fc-mon.fc-past{"data-date" => "2014-06-09"} 9
                                %td.fc-day-number.fc-tue.fc-past{"data-date" => "2014-06-10"} 10
                                %td.fc-day-number.fc-wed.fc-past{"data-date" => "2014-06-11"} 11
                                %td.fc-day-number.fc-thu.fc-past{"data-date" => "2014-06-12"} 12
                                %td.fc-day-number.fc-fri.fc-past{"data-date" => "2014-06-13"} 13
                                %td.fc-day-number.fc-sat.fc-past{"data-date" => "2014-06-14"} 14
                            %tbody
                              %tr
                                %td.fc-event-container{:colspan => "2"}
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end.bgm-orange.fc-draggable.fc-resizable
                                    .fc-content
                                      %span.fc-title Evento
                                    .fc-resizer.fc-end-resizer
                                %td{:rowspan => "2"}
                                %td{:rowspan => "2"}
                                %td.fc-event-container
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bgm-gray.fc-draggable.fc-resizable
                                    .fc-content
                                      %span.fc-title Almoço
                                    .fc-resizer.fc-end-resizer
                                %td.fc-event-container{:rowspan => "2"}
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bgm-pink.fc-draggable.fc-resizable
                                    .fc-content
                                      %span.fc-title Reunião
                                    .fc-resizer.fc-end-resizer
                                %td{:rowspan => "2"}
                              %tr
                                %td
                                %td.fc-event-container
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bgm-lightgreen.fc-draggable.fc-resizable
                                    .fc-content
                                      %span.fc-title Projeto
                                    .fc-resizer.fc-end-resizer
                                %td.fc-event-container
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bgm-teal.fc-draggable.fc-resizable
                                    .fc-content
                                      %span.fc-title Entrevista
                                    .fc-resizer.fc-end-resizer
                      .fc-row.fc-week.ui-widget-content
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.ui-widget-content.fc-sun.fc-past{"data-date" => "2014-06-15"}
                                %td.fc-day.ui-widget-content.fc-mon.fc-past{"data-date" => "2014-06-16"}
                                %td.fc-day.ui-widget-content.fc-tue.fc-past{"data-date" => "2014-06-17"}
                                %td.fc-day.ui-widget-content.fc-wed.fc-past{"data-date" => "2014-06-18"}
                                %td.fc-day.ui-widget-content.fc-thu.fc-past{"data-date" => "2014-06-19"}
                                %td.fc-day.ui-widget-content.fc-fri.fc-past{"data-date" => "2014-06-20"}
                                %td.fc-day.ui-widget-content.fc-sat.fc-past{"data-date" => "2014-06-21"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-sun.fc-past{"data-date" => "2014-06-15"} 15
                                %td.fc-day-number.fc-mon.fc-past{"data-date" => "2014-06-16"} 16
                                %td.fc-day-number.fc-tue.fc-past{"data-date" => "2014-06-17"} 17
                                %td.fc-day-number.fc-wed.fc-past{"data-date" => "2014-06-18"} 18
                                %td.fc-day-number.fc-thu.fc-past{"data-date" => "2014-06-19"} 19
                                %td.fc-day-number.fc-fri.fc-past{"data-date" => "2014-06-20"} 20
                                %td.fc-day-number.fc-sat.fc-past{"data-date" => "2014-06-21"} 21
                            %tbody
                              %tr
                                %td
                                %td.fc-event-container
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bgm-blue.fc-draggable.fc-resizable
                                    .fc-content
                                      %span.fc-title Aniversário Victor
                                    .fc-resizer.fc-end-resizer
                                %td
                                %td
                                %td
                                %td
                                %td
                      .fc-row.fc-week.ui-widget-content
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.ui-widget-content.fc-sun.fc-past{"data-date" => "2014-06-22"}
                                %td.fc-day.ui-widget-content.fc-mon.fc-past{"data-date" => "2014-06-23"}
                                %td.fc-day.ui-widget-content.fc-tue.fc-past{"data-date" => "2014-06-24"}
                                %td.fc-day.ui-widget-content.fc-wed.fc-past{"data-date" => "2014-06-25"}
                                %td.fc-day.ui-widget-content.fc-thu.fc-past{"data-date" => "2014-06-26"}
                                %td.fc-day.ui-widget-content.fc-fri.fc-past{"data-date" => "2014-06-27"}
                                %td.fc-day.ui-widget-content.fc-sat.fc-past{"data-date" => "2014-06-28"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-sun.fc-past{"data-date" => "2014-06-22"} 22
                                %td.fc-day-number.fc-mon.fc-past{"data-date" => "2014-06-23"} 23
                                %td.fc-day-number.fc-tue.fc-past{"data-date" => "2014-06-24"} 24
                                %td.fc-day-number.fc-wed.fc-past{"data-date" => "2014-06-25"} 25
                                %td.fc-day-number.fc-thu.fc-past{"data-date" => "2014-06-26"} 26
                                %td.fc-day-number.fc-fri.fc-past{"data-date" => "2014-06-27"} 27
                                %td.fc-day-number.fc-sat.fc-past{"data-date" => "2014-06-28"} 28
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td.fc-event-container
                                  %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bgm-bluegray.fc-draggable.fc-resizable{:href => "http://google.com/"}
                                    .fc-content
                                      %span.fc-title
                                        Pagar churrasco
                                        %br
                                        pra UNTEC
                                    .fc-resizer.fc-end-resizer
                      .fc-row.fc-week.ui-widget-content
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.ui-widget-content.fc-sun.fc-past{"data-date" => "2014-06-29"}
                                %td.fc-day.ui-widget-content.fc-mon.fc-past{"data-date" => "2014-06-30"}
                                %td.fc-day.ui-widget-content.fc-tue.fc-other-month.fc-past{"data-date" => "2014-07-01"}
                                %td.fc-day.ui-widget-content.fc-wed.fc-other-month.fc-past{"data-date" => "2014-07-02"}
                                %td.fc-day.ui-widget-content.fc-thu.fc-other-month.fc-past{"data-date" => "2014-07-03"}
                                %td.fc-day.ui-widget-content.fc-fri.fc-other-month.fc-past{"data-date" => "2014-07-04"}
                                %td.fc-day.ui-widget-content.fc-sat.fc-other-month.fc-past{"data-date" => "2014-07-05"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-sun.fc-past{"data-date" => "2014-06-29"} 29
                                %td.fc-day-number.fc-mon.fc-past{"data-date" => "2014-06-30"} 30
                                %td.fc-day-number.fc-tue.fc-other-month.fc-past{"data-date" => "2014-07-01"} 1
                                %td.fc-day-number.fc-wed.fc-other-month.fc-past{"data-date" => "2014-07-02"} 2
                                %td.fc-day-number.fc-thu.fc-other-month.fc-past{"data-date" => "2014-07-03"} 3
                                %td.fc-day-number.fc-fri.fc-other-month.fc-past{"data-date" => "2014-07-04"} 4
                                %td.fc-day-number.fc-sat.fc-other-month.fc-past{"data-date" => "2014-07-05"} 5
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                      .fc-row.fc-week.ui-widget-content
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.ui-widget-content.fc-sun.fc-other-month.fc-past{"data-date" => "2014-07-06"}
                                %td.fc-day.ui-widget-content.fc-mon.fc-other-month.fc-past{"data-date" => "2014-07-07"}
                                %td.fc-day.ui-widget-content.fc-tue.fc-other-month.fc-past{"data-date" => "2014-07-08"}
                                %td.fc-day.ui-widget-content.fc-wed.fc-other-month.fc-past{"data-date" => "2014-07-09"}
                                %td.fc-day.ui-widget-content.fc-thu.fc-other-month.fc-past{"data-date" => "2014-07-10"}
                                %td.fc-day.ui-widget-content.fc-fri.fc-other-month.fc-past{"data-date" => "2014-07-11"}
                                %td.fc-day.ui-widget-content.fc-sat.fc-other-month.fc-past{"data-date" => "2014-07-12"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-sun.fc-other-month.fc-past{"data-date" => "2014-07-06"} 6
                                %td.fc-day-number.fc-mon.fc-other-month.fc-past{"data-date" => "2014-07-07"} 7
                                %td.fc-day-number.fc-tue.fc-other-month.fc-past{"data-date" => "2014-07-08"} 8
                                %td.fc-day-number.fc-wed.fc-other-month.fc-past{"data-date" => "2014-07-09"} 9
                                %td.fc-day-number.fc-thu.fc-other-month.fc-past{"data-date" => "2014-07-10"} 10
                                %td.fc-day-number.fc-fri.fc-other-month.fc-past{"data-date" => "2014-07-11"} 11
                                %td.fc-day-number.fc-sat.fc-other-month.fc-past{"data-date" => "2014-07-12"} 12
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td

.row
  .col-md-12
    #site-visits.dash-widget-item.bgm-teal
      .dash-widget-header
        .p-20
          .dash-widget-visits
            %canvas{:height => "95", :style => "display: inline-block; width: 223px; height: 95px; vertical-align: top;", :width => "223"}
        .dash-widget-title For the past 30 days
        %ul.actions.actions-alt
          %li.dropdown
            %a{"data-toggle" => "dropdown", :href => ""}
              %i.md.md-more-vert
            %ul.dropdown-menu.dropdown-menu-right
              %li
                %a{:href => ""} Refresh
              %li
                %a{:href => ""} Manage Widgets
              %li
                %a{:href => ""} Widgets Settings
      .p-20
        %small Page Views
        %h3.m-0.f-400 47,896,536
        %br/
        %small Site Visitors
        %h3.m-0.f-400 24,456,799
        %br/
        %small Total Clicks
        %h3.m-0.f-400 13,965
