.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Localização
    .panel-body
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table#data-table-command.table.table-striped.table-bordered
          %thead
            %tr
              %th #
              %th Documento
              %th Tipo de Documento
              %th
          %tbody.index-location
            = render 'index_location'
      .row
        .col-md-6.col-md-offset-3
          = will_paginate @assessments, renderer: BootstrapPagination::Rails
      %br