.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 Novo Documento
    .panel-body
      .row
        .col-md-12
          = render 'form'
          = render 'index'
      .row
        .col-md-12
          = link_to "voltar",  assessments_path, class: 'btn btn-dark btn-sm',data: {disable_with: "carregando..."}


