<!DOCTYPE html>
<html>
<head>
  <title>Person</title>
  <%= stylesheet_link_tag    "person/application", media: "all" %>
  <%= javascript_include_tag "person/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
