- if @checklist.errors.any?
  $('#modal .modal-body').html("#{escape_javascript(render 'form')}")
- else
  $(".index-checklist-type").html("#{escape_javascript(render 'index')}")
  $("#modal").modal('hide')