.card
  .card-header.ch-alt
    %h2
      Requerimentos de Regularização
      %small Listagem de requerimentos
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
      %thead
        %tr
          %th Protocolo
          %th Nome
          %th CPF
          %th Endereço
          %th Data do requerimento
          %th Ações

      %tbody