%h1 Listing attendants

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @attendants.each do |attendant|
      %tr
        %td= link_to 'Show', attendant
        %td= link_to 'Edit', edit_attendant_path(attendant)
        %td= link_to 'Destroy', attendant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Attendant', new_attendant_path
