.card
  .card-header.ch-alt
    %h2 agendas
    = link_to "Novo", new_extranet_agenda_path, class: 'btn btn-success pull-right'
    %small Listagem de agendas
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.datatable
      %thead
        %tr
          %th Title
          %th Description
          %th Start
          %th End
          %th City
          %th Quantity attendants
      %tbody
        = render 'index'


