.row
  .col-md-12.box
    .panel.panel-default
      .panel-heading
        .row
          .col-md-12
            %h1
              %b.dark-orange Entidades
              %br/
              %small Agendamento de atendimento
      %hr/
      .panel-body
        .row
          .col-md-12.input-big
            = render 'form'