%span.c-black
%br
.table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Processo
        %th Tipo de Documento
        %th Orgão Destinatário
        %th Assunto
        %th Prazo de Resposta
    %tbody