= render 'layouts/regularization_treatment/steps'
.row
  .col-md-12
    .card
      .card-body.card-padding
        .row
          .col-md-12
            %h3
              %b Cadastro de Dependente
        %hr/
        = render "form"
        %hr/
        = render "index"
        .row
          .col-md-12
            = link_to "Prosseguir", new_checklist_treatment_path, class: 'btn btn-primary pull-right'

