.card
  .card-header.ch-alt
    %h2
      Cargos
      = link_to 'novo cargo', new_job_path, remote: true, class: 'btn btn-success pull-right' if policy(:job, namespace: Person).create?
      %small Listagem de cargos
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Nome
          %th Código
          %th Status
          %th Ações
      %tbody.index-job
        = render 'index'
