= simple_form_for @candidate, url: regularization.candidate_requeriments_path do |f|
  .row
    .col-md-2
      = f.input :cpf
    .col-md-2
      = f.input :born, input_html: { class: 'date'}
  .row
    .col-md-12
      = f.submit "Verificar"