<!DOCTYPE html>
<html>
<head>
  <title>Authenticate</title>
  <%= stylesheet_link_tag    "authenticate/application", media: "all" %>
  <%= javascript_include_tag "authenticate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
