!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Extranet
    = stylesheet_link_tag  'shared/extranet', media: 'all'
    = csrf_meta_tags
    
    :css
      body {
        background-color: white !important;
      }
      .page-content {
        background-image: url(/images/bg#{rand(1..4)}.jpg);
        background-size: cover;
        height: 100%;
      }
  %body.page-login-v2.layout-full.page-dark
    = yield