!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Extranet
    = stylesheet_link_tag  'patternfly', media: 'all'
    = csrf_meta_tags
  
  :css
    body {
      background-color: #ECECEC !important;
    }

  %body
    .container
      .col-md-7.col-md-offset-2
        = yield