- if @participation_field.errors.any?
  $("#modal .modal-content").html("#{escape_javascript(render 'new')}")
- else
  $(".index-field").html("#{escape_javascript(render 'index')}")
  $("#modal").modal('hide')  