.panel.panel-default
  .panel-heading
    %h4.panel-title
      Processamento de indicação
  .panel-body
    .row
      .col-md-12
        = render 'form_step'
    %hr/
    #preview_step_table
    #form_allotment
    #preview_allotment_table
    #preview_cadastre_count

