.panel.panel-default
  .panel-heading
    %h4.panel-title
      Editar categoria
      = link_to "Voltar para detalhamento", cadastre_path(@cadastre), class: 'pull-right'
  .panel-body
    .row
      .col-md-12
        = render 'form'