= render 'layouts/regularization_treatment/steps'
.row
  .col-md-12
    .card
      .card-body.card-padding
        %h3
          %b Cadastro de Candidato
.row
  .col-md-12
    .card
      .card-body.card-padding
        = render "form"
