= simple_form_for @exemption, multipart: true do |f|
  .row
    .col-md-4
      = f.label :file, as: 'file', class: 'fg-label'
      = f.input :file, as: 'file', label: false, input_html: { placeholder: 'Arquivo excell'}
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success btn-sm', data: { disable_with: t(:disabled_button) }
