<!DOCTYPE html>
<html>
<head>
  <title>Sefaz</title>
  <%= stylesheet_link_tag    "sefaz/application", media: "all" %>
  <%= javascript_include_tag "sefaz/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
