.block-header
  %h2 
    %b 
      = link_to "#{@project.name} ", administrator_projects_path
    \/  FORMULÁRIO DE INSCRIÇÃO DO CANDIDATO 
.row
  .col-md-5
    .card
      .card-header.ch-alt
        %h2
          Campos Padrão
          %small
            Listagem de campos padrão
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table.table.table-hover.table-bordered
          %thead
            %tr
              %th #
              %th Nome
              %th Tipo
              %th Obrigatório?
              %th Único?
          %tbody
            %tr
              %td.col-md-1 1
              %td.col-md-4 nome
              %td.col-md-1 texto
              %td.col-md-1 sim
              %td.col-md-1 não
            %tr
              %td.col-md-1 2
              %td.col-md-4 cpf
              %td.col-md-1 texto
              %td.col-md-1 sim
              %td.col-md-1 sim
            %tr
              %td.col-md-1 3
              %td.col-md-2 e-mail
              %td.col-md-1 texto
              %td.col-md-1 sim
              %td.col-md-1 sim
            %tr
              %td.col-md-1 4
              %td.col-md-2 telefone
              %td.col-md-1 texto
              %td.col-md-1 sim
              %td.col-md-1 não
            %tr
              %td.col-md-1 5
              %td.col-md-2 celular
              %td.col-md-1 texto
              %td.col-md-1 não
              %td.col-md-1 não
            %tr
              %td.col-md-1 6
              %td.col-md-2 cidade
              %td.col-md-1 texto
              %td.col-md-1 não
              %td.col-md-1 não
            %tr
              %td.col-md-1 7
              %td.col-md-2 estado
              %td.col-md-1 texto
              %td.col-md-1 não
              %td.col-md-1 não
  .col-md-1
  .col-md-5
    .card
      .card-header.ch-alt
        %h2
          Campos Personalizados
          %small
            Listagem de campos personalizados
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table.table.table-hover.table-bordered
          %thead
            %tr
              %th #
              %th Nome
              %th Tipo
              %th Obrigatório?
              %th Único?
          %tbody
      