- if @dependent.errors.any?
  $("#modal .modal-content .modal-body").html("#{escape_javascript(render 'form_dependent')}")
- else
  $(".index-dependent").html("#{escape_javascript(render 'index_dependent')}")
  $("#modal").modal("hide")