.page-content
  .panel
    .panel-heading
      .panel-title
        %h3 Detalhamento de atualização
    .panel-body
      .row
        .col-md-12
          = link_to "voltar para detalhamento", attendances_path(cpf: @mirror.cpf)