.page-content
  .panel
    .panel-heading
      .panel-title
        %h3 Preenchimento de checklist
        %small
          Formulário de preenchimento de checklist
    .panel-body
      .row
        .col-md-12
          = render 'layouts/habitation/tabs'
      .row
        .col-md-12
          = render 'form_checklist'