.page-content
  .panel
    .panel-heading
      .panel-title
        = render 'layouts/habitation/tabs'
        %br/
        %h3 Preenchimento de checklist
    .panel-body
      .row
        .col-md-12
          = render 'form_checklist'