.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 Atendimento habitação
    %hr/
    .panel-body
      .row
        .col-md-3.border-right
          = render 'form_search'
        .col-md-9
          = render 'show'