.col-md-12
  .panel.panel-default
    .panel-body
      = render 'layouts/firm_portal/tabs'
      .row
        .col-md-12
          %h3
            %b Reservar imóvel
            %br/
            %small
      .row
        .col-md-12
          = render 'form'
