.panel.panel-default
  .panel-heading
    %h4.panel-title
      Nova formação
      %span.pull-right
        = link_to "Voltar para listagem", formation_areas_path
  .panel-body
    .row
      .col-md-12
        = render 'form'
