.form-group {
  margin-top: 0 !important;
}
.sidebar-menu .submenu .submenu .submenu a {
  padding-left: 100px;
  background-position: 77px 50%;
}

.topSlider {
  height: 440px;
  margin-bottom: 46px;
  padding-bottom: 46px;
}
.topSlider .flexslider {
  height: initial;
  overflow: auto;
}
.topSlider .flex-caption {
  height: 100%;
}
.div-image {
  min-height: 440px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.bt-noticia a{
  color: #fff;
  background-color:#004A77;
  padding: 10px 25px;
}
a.default-category {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-left: 8%;
  text-decoration: none;
}
.homeVideoWrapper{
  border-bottom: 1px solid #DDD;
  background-color: #ebecf0!important;
}
.logo_footer{
  padding-top: 110px;
}
.noticias-footer{
  text-align: left;
  border-bottom: 1px dotted #dddede;
}
.noticias-footer a{
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}
.landingBkgd{
  background-color: #fff!important;
}
.sidebar-menu li a{
  background-color: #fff!important

}
.sidebar-menu li a:hover{
  background-color: #f5f5f5;
}
.landingBkgd .container.main { padding-bottom: 30px;}
#nav-sub-1{width: 700px!important;}
#nav-sub-5{width: 200px!important; height: 150px!important;}
#nav-sub-6{width: 120px!important; height: 115px!important;}
#nav-sub-7{width: 530px!important;height: 200px!important;}
.homeLatestWrapper{padding-bottom: 0px!important;}
.menu-tel{margin-top: 5px!important}
.link-tel{height: 5px!important}
.tempp{ max-height: 188px!important; overflow: hidden!important;}
.bloco-noticia{  max-height: 850px!important;}
.noticias-footer p{margin-bottom: 5px!important; font-size: 11px;}
.linkD:hover{text-decoration: none!important;cursor:initial!important;}
.linktamanho{height: 10px!important;}
.sliderp p{display:none;cursor: pointer!important;text-align: justify!important;}
.sliderp p a:hover{text-decoration: none!important;}
.sliderp p:nth-of-type(2){display: block!important;}
.menu-bold{  font-size: 16px!important;
text-transform: none!important;
font-weight: 600!important;
margin-bottom: 6px!important;
border-bottom: 0 !important;border: none!important; color: #303236 !important;}
.borders{border:none!important;}


/*slider info*/
.tab-fundo{display:block;background-image: url('/portal/estadio.png');background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  background-attachment: fixed; width: 100%;}
.s-info{margin:0 auto;display: none;}
#maskinfo{margin:0 auto;}
.tab-mes{text-align:center; height: 50px; margin:0 auto;margin-top: 65px;}
.tab-mes span{width: 30px; height: 20px; cursor: pointer; background-color: rgb(0, 74, 119); margin-left: 20px;  border-radius: 5px;}
.tab-mes span:hover{background-color:rgb(0, 154, 255)}
.bullet {font-weight: bold; font-family:'Open Sans'; color: #fff; padding: 10px;}
.teste{background: none!important;height: auto!important;border: none!important;box-shadow: none!important;}
.conquistatxt{color:#fff; font-family:'Open Sans'; text-align: center;}
.conquistatg{padding-top: 30px;margin-bottom: -5px!important;}
.conquistatgsub{  margin-bottom: -5px!important;}
.conquistasubt{margin-bottom: 5px;}
.conq-just{text-align: justify!important;}
.rogue{display:block}
.rogue1{display:block}
#footer{margin-top:0px!important;}
.img-thumbpost{width: 500px; margin: 0 auto;display: block;}
.img-thumbpost img{margin-top: -2px!important;}
.img-thumbpost strong{text-align: right;display: block;font-size: 10px;font-style: italic;color:#999}
.desc-fots{font-size: 12px; font-weight: bold;padding-bottom: 30px; display: block;text-align: center;}
.redactor-editor,.redactor-box,.redactor-box textarea{z-index: 5!important}
.post-author{  line-height: 35px;
  text-transform: uppercase;
  font-size: 12px;
  float: left;
  padding-left: 40px;
  font-weight: 600;
  display: inline-block;
  color: #8397a3;}
