- if @ticket_scheduled_ocurrence.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal .modal-content').html("#{escape_javascript(render '/ticket/in_progress')}")
