- if @ticket_scheduled_ocurrence.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal').modal('hide')
  $('.index-ticket').html("#{escape_javascript(render '/helpdesk/tickets/index')}")
