.panel.panel-default
  .panel-heading
    %h3.panel-title
      Atendimento - Preenchimento de Checklist
  .panel-body
    .row
      .col-md-12
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th Item
              %th Autenticado
              %th Checado
          %tbody.checklist-index
            /= render 'index'
    .row
      .col-md-12
        = link_to "Voltar para atualização de dependentes", habitation_cadastre_attendance_dependent_mirrors_path(cadastre_attendance_id: @attendance.id), class: 'btn btn-lg btn-default pull-left'
        = link_to "Avançar para parecer do analista", new_habitation_cadastre_attendance_finish_path(cadastre_attendance_id: @attendance.id), class: 'btn btn-lg btn-primary pull-right'