.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        Assunto
        = link_to 'novo assunto', new_subject_path, remote: true, class: 'pull-right',data: {disable_with: "carregando..."}
  .panel-body
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Nome
            %th Código
            %th Status
            %th Ações
        %tbody.index-subject
          = render 'index'
