<!DOCTYPE html>
<html>
<head>
  <title>Juridical</title>
  <%= stylesheet_link_tag    "juridical/application", media: "all" %>
  <%= javascript_include_tag "juridical/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
