.row
  .col-md-12
    %h2
      %b Enviar meu projeto
      %small.pull-right
        = link_to "Voltar", project_restrict_candidates_path(@project)
%hr/
.row
  .col-md-12
    - if @candidate.id == 465
      = render 'form'
    - if @project.start_participation <= Date.today && @project.end_participation >= Date.today
      - if @candidate.homologado?
        - if @candidate.candidate_participation.count > 0
          %h4 Você já enviou seu projeto.
        - else
          = render 'form'
      - else
        %h4 Você não tem permissão para enviar projetos, sua inscrição não foi homologada.
    - else
      %h4 Não é possível enviar projetos fora do período de envio.