.row
  .col-md-12
    %h2
      %b Consulta enviada com sucesso!
    %hr/
    %h5
      %p A Coordenação do Concurso fará o registro e a análise das consultas e formulará as respostas, submetendo-as à aprovação da entidade promotora do Concurso.
      %p As respostas dar-se-ão no prazo de até 05 (cinco) dias úteis de seu recebimento pela Coordenação.
      %p Todas as respostas às consultas e informações suplementares eventualmente publicadas por iniciativa da Coordenação passarão a fazer parte integrante das Bases do Concurso, sendo de exclusiva responsablidade dos participantes consultar periodicamente o conteúdo deste site.
