.homeVideoWrapper
  .stocking-row3
  .bottomSlider.container
    %h2 CODHAB em Foco
    .flexslider
      %div{:style => "clear: both;"}
      .flex-viewport
        %ul.slides
          %li.clone{"aria-hidden" => "true"}
            .sliderVideo{"data-video-parent" => "yes"}
              .tinsel
              .tinsel-2
              .home-video-wrap{"data-video-parent" => "yes"}
            <iframe width="780" height="450" src="https://www.youtube.com/embed/JA4i-3wyVdY" frameborder="0" allowfullscreen></iframe>
            / .sliderVideo
            .slidercontent
              %h3 Lorem Ipsum
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus ac mauris sed scelerisque. Morbi vehicula suscipit nibh, et lacinia nisi dictum et. Duis congue elit et neque pretium bibendum. Duis tincidunt metus sed rutrum pretium. Cras mollis et purus nec aliquet.
              %a.sliderLink{:href => "./single.html"} Learn More
            %div{:style => "clear: both;"}
          %li.flex-active-slide
            .sliderVideo{"data-video-parent" => "yes"}
              .tinsel
              .tinsel-2
              .home-video-wrap{"data-video-parent" => "yes"}
            <iframe width="780" height="450" src="https://www.youtube.com/embed/JA4i-3wyVdY" frameborder="0" allowfullscreen></iframe>
            / .sliderVideo
            .slidercontent
              %h3 Lorem Ipsum
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus ac mauris sed scelerisque. Morbi vehicula suscipit nibh, et lacinia nisi dictum et. Duis congue elit et neque pretium bibendum. Duis tincidunt metus sed rutrum pretium. Cras mollis et purus nec aliquet.
              %a.sliderLink{:href => "./single.html"} Learn More
            %div{:style => "clear: both;"}
      %ol.flex-control-nav.flex-control-paging
        %li
          %a 1
        %li
          %a 2
    %div{:style => "clear: both;"}