.card
  .card-header.ch-alt
    %h2
      Baixa de Patrimônio
      = link_to 'nova baixa', new_down_good_path, remote: true, class: 'btn btn-success pull-right'
      %small Listagem de baixas
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Nome
          %th Descrição
          %th Número de Processo
          %th Patrimônio
          %th Ações
      %tbody.index-down_good
        = render 'index'
