<!DOCTYPE html>
<html>
<head>
  <title>Candidate</title>
  <%= stylesheet_link_tag    "candidate/application", media: "all" %>
  <%= javascript_include_tag "candidate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
