.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Atualização cadastral
          = link_to "voltar para pesquisa", cadastres_path(cpf: @candidate.cpf), class: 'pull-right'
    .panel-body
      .row
        .col-md-12
          = render 'form'