= render 'layouts/concourse/partials/nav_project'
.card
  .card-header
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "4"}
    %table.table.table-condensed
      %thead
        %tr
          %th #
          %th Nome
          %th Email 
          %th Telefone
          %th Data de inscrição
          %th Visualizar inscrição
          %th Ações
      %tbody
        %tr
          %td 1
          %td Alexandra
          %td Christopher
          %td @makinton
          %td Ducky
    