- if @branch_line.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")

- else
  $('#modal').modal('show')
  $('.index-branch_line').html("#{escape_javascript(render 'index_branch')}")

