- @branch.each do |f|
  %a.lv-item{:href => ""}
    .media
      .pull-left.p-relative
        %img.lv-img-sm{:alt => "", :src => "img/profile-pics/2.jpg"}/
        %i.chat-status-busy
      .media-body
        .lv-title f.sector.name
        %small.lv-small f.telephone
