.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 Subir Retorno BRB - Boleto
        %small Formulário para upload de retorno BRB
    %hr/
    .panel-body
      .row
        .col-md-12
          = render 'form'