%aside#chat
  %ul.tab-nav.tn-justified{:role => "tablist", :style => "overflow: hidden; outline: none;", :tabindex => "0"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "friends", "aria-expanded" => "true", "data-toggle" => "tab", :href => "#friends", :role => "tab"} Pessoas
    %li{:role => "presentation"}
      %a{"aria-controls" => "online", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#online", :role => "tab"} Meu Setor
  .chat-search
    .fg-line
      %input.form-control{:placeholder => "Pesquisar...", :type => "text"}/
  .tab-content
    #friends.tab-pane.fade.active.in{:role => "tabpanel"}
      .listview
        - Person::Staff.all.order(:name).each do |u|
          %a.lv-item{:href => ""}
            .media
              .pull-left.p-relative
                - if u.avatar?
                  = image_tag(u.avatar.url)
                - else
                  .lv-avatar.bgm-blue{"style": 'margin-bottom: 20px'}
                    = u.name[0]
              .media-body
                .lv-title
                  = u.name
                %small.lv-small
                  Último acesso
                  %br/
                  = u.user.last_sign_in_at.strftime('%d/%m/%Y %H:%M')

    #online.tab-pane.fade{:role => "tabpanel"}
      .listview
        %a.lv-item{:href => ""}
          .media
            .pull-left.p-relative
              / %img.lv-img-sm{:alt => "", :src => "img/profile-pics/2.jpg"}/
              %i.chat-status-busy
            .media-body
              .lv-title Jonathan Morris
              %small.lv-small Available
