/*action page*/
.flexslider_mod{
  border:none;
  margin:0;
}
.about_action{
  height: 500px;
  background-color:#79b792;
}
.about_action_text{
  background-color:#de3859;
  height: 500px;
}
.about_action_title{
  font-size: 55px;
  font-weight: bold;
  color: #fff;
  display: block;
  margin-top: 170px;
  transform: rotate(-90deg)!important;

/* Safari */
-webkit-transform: rotate(-90deg)!important;

/* Firefox */
-moz-transform: rotate(-90deg)!important;

/* IE */
-ms-transform: rotate(-90deg)!important;

/* Opera */
-o-transform: rotate(-90deg)!important;

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.about_action_text p{
  font-size: 25px;
  color:#fff;
  margin-top: 70px;
}
.action_title_home{
  background-color:#f49649;
  height: 180px;
  color:#fff;
  padding-left: 100px;
font-size: 40px;
}
.action_cadastre{
  background-color: #bb328a;
  height: 180px;

}
.action_participo{
  background-color: #7e5fa5;
  height: 180px;

}
.action_areabuttons_home{
  padding: 0;
    color: #fff!important;
    font-size: 20px;


}
.action_areabuttons_home span{
  display: block;
      margin: 0 auto;
      width: 370px;
}
.action_button{
  border: 2px solid #fff;
  font-size: 47px;
  font-weight: bold;
  padding: 7px 60px;
  width: 372px;
  color: #fff!important;
  display: block;
  margin:0 auto;
  margin-top: 20px;
}
.no_padding{
  padding:0px;
}
.titulo_home{
  font-size: 75px;
}
#action_thumb_1 {

  }
#action_thumb_2 {

  }
#action_thumb_3 {

  }
.action_thumb{
height: 355px;
background-color: #000;
}
.action_inscription_button{
  color: #fff;
font-size: 43px;
width: 100%;
display: block;
text-align: center;
margin-top: 20px;

}
.action_inscription_title{
  color:#000;
  font-size: 33px;
}
.action_inscription_sub_title{
  color: #8b8b8c;
    font-size: 33px;
}
.action_inscription_button:hover{
  color:#fff;
}
#action_inscription_button_1{
  background-color: #de3859;
}
#action_inscription_button_2{
  background-color: #79b792;
}
#action_inscription_button_3{
  background-color: #f49649;
}
.users_back_ground{
  background-color: #8b8b8c;
  padding: 20px 0;
}
.action_thumbnail_users_home{
  width: 185px;
  height: 185px;
  background-color: black;
  border-radius: 120px;
  margin:0 auto;

}
.action_user_title{
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.action_user_text{
  color:#fff;
  font-size:20px;
  text-align: justify;
}
.action_footer{
  padding: 75px 0;
text-align: center;
}
.action_footer a{
  font-weight: bold;
  color:#fff;
  font-size: 35px;
  padding: 155px 0;
}
#action_footer_diferent, .bloco_azul{background-color: #81c5e0;}
#action_footer_contact, .bloco_amarelo{background-color: #fecb0d;}
#action_footer_gallery, .bloco_rosa{background-color: #de3859;}
.bloco_laranja {background-color: #ea563f;}
.texto-gigante{ color:#fff; font-size: 45px;}
.texto_branco{color: #fff;}
.texto-bold{font-weight: bold;}
.texto_inscrever{font-size: 30px;}
