.container
  .col-md-12
    %h2.title_notice Utimas Noticias
  .row
    / bloco de noticias
    .col-sm-6.col-md-4
      .thumbnail
        %img{:alt => "...", :src => "img/roro.jpg"}/
        .caption.caption_notice
          %a.link_caption #Habitacao
          .link_caption_date
            19/06/2015
        .link_caption_text
          %h3 Lista de idosos, pessoas com deficiência e casos de vulnerabilidade
          %p
            A Companhia de Desenvolvimento Habitacional do Distrito Federal (CODHAB) divulga as listas que contemplam, exclusivamente,
            idosos, pessoas com deficiência e casos de vulnerabilidade habilitados no Programa Morar Bem.
          %p
            %a.btn.btn-primary-mod{:href => "#", :role => "button"} Leia Mais
    / fim do bloco
    / bloco de noticias
    .col-sm-6.col-md-4
      .thumbnail
        %img{:alt => "...", :src => "img/roro.jpg"}/
        .caption.caption_notice
          %a.link_caption #Codhab
          .link_caption_date 19/06/2015
        .link_caption_text
          %h3 Lista de idosos, pessoas com deficiência e casos de vulnerabilidade
          %p
            A Companhia de Desenvolvimento Habitacional do Distrito Federal (CODHAB) divulga as listas que contemplam, exclusivamente,
            idosos, pessoas com deficiência e casos de vulnerabilidade habilitados no Programa Morar Bem.
          %p
            %a.btn.btn-primary-mod{:href => "#", :role => "button"} Leia Mais
    / fim do bloco
    / bloco de noticias
    .col-sm-6.col-md-4
      .thumbnail
        %img{:alt => "...", :src => "img/roro.jpg"}/
        .caption.caption_notice
          %a.link_caption #Habitacao
          .link_caption_date
            19/06/2015
        .link_caption_text
          %h3 Lista de idosos, pessoas com deficiência e casos de vulnerabilidade
          %p
            A Companhia de Desenvolvimento Habitacional do Distrito Federal (CODHAB) divulga as listas que contemplam, exclusivamente,
            idosos, pessoas com deficiência e casos de vulnerabilidade habilitados no Programa Morar Bem.
          %p
            %a.btn.btn-primary-mod{:href => "#", :role => "button"} Leia Mais
    / fim do bloco