%footer
  .col-sm-6.col-md-4
    .block_footer_
      .logo_footer
        %img{:alt => "...", :src => "/images/codhab_footer.png", :width => "264"}/
  / Fim do bloco footer
  .col-sm-6.col-md-4
    .block_footer
      %h3.title_notice_footer Utimas Noticias
      .box_footer
        %p
          %a.link_notices_footer LISTA DE IDOSOS, PESSOAS COM DEFICIÊNCIA E CASOS DE VULNERABILIDADE
        %p.date_link_notices 08/09/2015
      .box_footer
        %p
          %a.link_notices_footer GOVERNO ENTREGA MAIS 400 APARTAMENTOS NO RIACHO FUNDO II
        %p.date_link_notices 08/09/2015
      .box_footer
        %p
          %a.link_notices_footer MODALIDADE DE CONCURSO SERÁ PRIORIDADE PARA LICITAR PROJETOS DE CONSTRUÇÕES
        %p.date_link_notices 01/09/2015
  .col-sm-6.col-md-4
    .block_footer
      %h3.title_contact_footer Entre em Contato
      .contact_box
        %p.contact
          Edificio SEDHAB -
          Setor Comercial Sul
          %br/
          Quadra 06, Bloco A - Lotes 12/13 - Térreo.
          %br/
          Brasilia/DF
        %br/
        %br/
        .contact_box
          %h3.title_contact_footer Central de Atendimento
          .contact_box
            %p.contact
              %b 156
              opcao 5. Das 7h as 19h