%footer
  / Bloco01 - footer
  .col-sm-6.col-md-4
    .block_footer_
      .logo_footer
        %img{:alt => "CODHAB", :src => "/images/codhab_footer.png", :width => "264"}/
  / Fim do bloco footer
  .col-sm-6.col-md-4
    .block_footer
      %h3.title_contact_footer Atendimento Presencial
      .contact_box
        %p.contact
          Setor Comercial
          Sul, Quadra 06, Edifício da
          Secretaria
          %br/
          de Estado  de Gestão
          do Território e Habitação
          (SEGETH)
          %br/
          das 8h às 17h, de
          segunda a sexta-feira. Para
          agendar
          %br/
          o atendimento, ligue
          156.
        %br/
        .contact_box
          %h3.title_contact_footer Atendimento Especializado
          .contact_box
            %p.contact
              Quadra 112, asa sul, na
              estação do metrô, das 8h às
              16h,
              %br/
              de segunda a sexta-
              feira. O agendamento pode
              ser feito
              %br/
              pelo telefone 156.
  .col-sm-6.col-md-4
    .block_footer
      %h3.title_contact_footer Entre em Contato
      .contact_box
        %p.contact
          Edificio SEDHAB - Setor Comercial Sul
          %br/
          Quadra 06, Bloco A - Lotes 12/13 - Térreo.
          %br/
          Brasilia/DF
        %br/
        %br/
        .contact_box
          %h3.title_contact_footer Central de Atendimento
          .contact_box
            %p.contact
              %b 156
              opcao 5. Das 7h as 19h
