.navbar-superior
  .container
    %ul
      %li Portal Brasilia
      %li.item-menu-top
        CODHAB
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top A Companhia
            %ul
              %li
                %a.link_submenu_top Historia
              %li
                %a.link_submenu_top Missao
              %li
                %a.link_submenu_top Visão
              %li
                %a.link_submenu_top Valores
          %li.item-submenu-top
            %span.submenu_title_top Organização
            %ul
              %li
                %a.link_submenu_top Organograma
              %li
                %a.link_submenu_top Diretoria Executiva
              %li
                %a.link_submenu_top Assessorias
          %li.item-submenu-top
            %span.submenu_title_top Conselhos
            %ul
              %li
                %a.link_submenu_top
                  Conselho
                  %br/
                  Administrativo
              %li
                %a.link_submenu_top Conselho Fiscal
          %li.item-submenu-top
            %span.submenu_title_top Documentos
            %ul
              %li
                %a.link_submenu_top Estatuto Social
              %li
                %a.link_submenu_top Regimento Interno
              %li
                %a.link_submenu_top Resoluções
      %li.item-menu-top
        Imprensa
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top A Companhia
            %ul
              %li
                %a.link_submenu_top Notícias
              %li
                %a.link_submenu_top Vídeos
      %li Duvidas Frequentes
      %li Legislacao
      %li.item-menu-top
        Fale Conosco
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top Telefone
            %ul
              %li.link_submenu_top
                156 - A Central
                %br/
                Telefônica tem
                %br/
                profissionais preparados para ouvir e registrar as suas demandas. Ligação gratuita para telefone
                = succeed "fixo." do
                  %br/
          %li.item-submenu-top
            %span.submenu_title_top Posto de Atendimentos
            %ul
              %li.link_submenu_top
                Setor Comercial Sul,
                %br/
                Quadra 06, Lotes 13/14, Bloco A, 5º Andar - Edifício SEDHAB
          %li.item-submenu-top
            %span.submenu_title_top Ouvidoria Geral
            %ul
              %li
                %a.link_submenu_top Site
              %li.submenu_title_top_fone Telefone
              %li
                %a.link_submenu_top 162