.navbar-superior
  .container
    %ul
      %li Portal Brasilia
      %li.item-menu-top
        CODHAB
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top A Companhia
            %ul
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/3"} Historia
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/4"} Missao
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/5"} Visão
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/6"} Valores
          %li.item-submenu-top
            %span.submenu_title_top Organização
            %ul
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/7"} Organograma
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/8"} Diretoria Executiva
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/9"} Assessorias
          %li.item-submenu-top
            %span.submenu_title_top Conselhos
            %ul
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/10"}
                  Conselho
                  %br/
                  Administrativo
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/11"}  Conselho Fiscal
          %li.item-submenu-top
            %span.submenu_title_top Documentos
            %ul
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/12"} Estatuto Social
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/13"} Regimento Interno
              %li
                %a.link_submenu_top{:href => "http://concursos.codhab.df.gov.br/pagina/14"} Resoluções
      %li.item-menu-top
        Imprensa
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top A Companhia
            %ul
              %li
                %a.link_submenu_top Notícias
              %li
                %a.link_submenu_top Vídeos
      %li
        %a.link_top_esquecido{:href => "http://concursos.codhab.df.gov.br/pagina/15"} Dúvidas Frequentes
      %li
        %a.link_top_esquecido{:href => "http://concursos.codhab.df.gov.br/pagina/16"} Legislação
      %li.item-menu-top
        Fale Conosco
        %ul.dropdown-menu-top
          %li.item-submenu-top
            %span.submenu_title_top Telefone
            %ul
              %li.link_submenu_top
                156 - A Central
                %br/
                Telefônica tem
                %br/
                profissionais preparados para ouvir e registrar as suas demandas. Ligação gratuita para telefone
                = succeed "fixo." do
                  %br/
          %li.item-submenu-top
            %span.submenu_title_top Posto de Atendimentos
            %ul
              %li.link_submenu_top
                Setor Comercial Sul,
                %br/
                Quadra 06, Lotes 13/14, Bloco A, 5º Andar - Edifício SEDHAB
          %li.item-submenu-top
            %span.submenu_title_top Ouvidoria Geral
            %ul
              %li
                %a.link_submenu_top Site
              %li.submenu_title_top_fone Telefone
              %li
                %a.link_submenu_top 162
