.page-content
  .panel
    .panel-heading
      .panel-title
        %h3 Atualização de Checklist
        %small
          Formulário de atualização de checklist
    .panel-body
      .row
        .col-md-2
        .col-md-10
          = render 'form'