.panel.panel-default
  .panel-heading
    %h3.panel-title
      Atendimento - Preenchimento de Checklist
  .panel-body
    .row
      .col-md-12
        .row
          .col-md-12
            = render 'layouts/habitation/attendance_tabs'
        .row
          .col-md-12   
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Item
                  %th Autenticado
                  %th Checado
              %tbody.checklist-index
                = render 'index'