- if @situation_status.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal').modal('hide')
  $('.index-situation_status').html("#{escape_javascript(render 'index')}")
