= render 'layouts/regularization_treatment/steps'
.row
  .col-md-12
    .card
      .card-body.card-padding
        .row
          .col-md-12
            %h3
              %b Finalizar atendimento
        %hr/
        = render "form"
