= render 'layouts/regularization_treatment/steps'
.row
  .col-md-12
    .card
      .card-body.card-padding
        .row
          .col-md-12
            %h3
              %b Finalizar atendimento
        %hr/
        - if @cadastre.present?
          .row
            .col-md.12
              %h5
                = @cadastre.adjunct_cadastre.name if @cadastre.adjunct_cadastre.present?
              %h5
                = @cadastre.cpf
        = render "form"
