.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Nova aviso
          %br/
          %small
            Formulário de inserção de novo aviso
    .panel-body
      .row
        .col-md-12
          = render 'form'
