.card
  .card-header.ch-alt
    %h2
      Tipo de Materiais
      = link_to 'novo tipo material', new_type_material_path, remote: true, class: 'btn btn-success pull-right'
      %small Listagem de cargos
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Tipo de Material
          %th Descrição
          %th Porcentagem
          %th Vida Ultil
          %th Status
          %th Ações
      %tbody.index-type_material
        = render 'index'
