.panel{:style => "margin-top: 30%"}
  .panel-body
    .row
      .col-sm-12{style: 'text-align: center; color: #818285'}
        %h1
          Acesso restrito
        %small versão 2.1
    %hr/
    .row
      .col-sm-5
        %img{:alt => "PatternFly Enterprise Application", :src => "/images/codhab_footer.png", :width => 300}/
      .col-sm-7.details
        %br/
        = render 'form'
    

