.row{:style => 'margin-top: 35px'} 
  .col-md-12
    .lvh-label.hidden-xs
      %span.c-black
        %h4
          %b Agendamentos

.row{:style => 'margin-top: 35px; margin-bottom: 35px;'} 
  .col-md-12
    - if @schedules.present?
      %table.table.table-striped.table-condensed.table-bordered
        %thead
          %tr
            %th Agenda
            %th CPF
            %th Data do Atendimento
            %th Horário de Atendimento
        %tbody
          - @schedules.each do |schedule|
            %tr
              %td= schedule.agenda.title
              %td= schedule.cpf
              %td= schedule.date_schedule.strftime("%d/%m/%Y")
              %td= schedule.hour_schedule.strftime("%H:%M")
    - else
      .row
        .col-md-12
          Não existem agendamentos vínculado a este CPF.

